<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>사라바</title>
</head>
<body>

<header data-th-fragment="header">
  <img
      src='https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/logo/newLogo1.png?type=w_sh&w=150&quality=100&sharp_amt=1.0&ttype=png'>
  <a data-th-href="@{/home}" href="/home">한달살기</a>
  <a data-th-href="@{/board/main}" href="/board/main">커뮤니티</a>
  <a data-th-href="@{/member/chkPw}" data-th-if="${session.loginUser != null}" href="/member/chkPw">마이페이지</a>
  <a data-th-href="@{/auth/logout}" data-th-if="${session.loginUser != null}" href="auth/logout">로그아웃</a>
  <a data-th-href="@{/auth/form}" data-th-if="${session.loginUser == null}" href="auth/form">로그인</a>

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
  let sessionInfo = /*[[${session.loginUser}]]*/ '';
  console.log(sessionInfo);
</script>
<script>
  const loginUserInfo = sessionInfo;
  const ws = new WebSocket('ws://localhost:8889');
  if(loginUserInfo){
    // 로그인했을때 웹소켓 연결
    ws.onopen = function(event){
      const message = {
        message: 'connectUser',
        memberNo: loginUserInfo.memberNo,
      }
      ws.send(JSON.stringify(message));
    }

    // 알림을 받았을 때
    ws.onmessage = function(event){
      const alarm = JSON.parse(event.data);
    }
  }
</script>
</html>
