<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>사라바</title>
</head>
<body>

<header data-th-fragment="header">
  <img
      src='https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/logo/newLogo1.png?type=w_sh&w=150&quality=100&sharp_amt=1.0&ttype=png'>
  <a data-th-href="@{/home}" href="/home">한달살기</a>
  <a data-th-href="@{/board/main}" href="/board/main">커뮤니티</a>
  <a data-th-href="@{/member/myinfoCheckPassword}" data-th-if="${session.loginUser != null}" href="/member/myinfoCheckPassword">마이페이지</a>
  <a data-th-href="@{/auth/logout}" data-th-if="${session.loginUser != null}" href="auth/logout">로그아웃</a>
  <a data-th-href="@{/auth/form}" data-th-if="${session.loginUser == null}" href="auth/form">로그인</a>

</body>
</html>
