<!DOCTYPE html>
<html lang="en" xmlns:data-th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" type="text/css" href="/mainStyle.css">
</head>
<body>
  <div data-th-replace="header :: header">header</div>
<main>
  <section>
    <div class="theme-container">
      <button onclick="scrollThemes(-100)">&lt;</button>
      <div data-th-each="theme : ${session.themeList}" class="theme-icon-container">
        <a data-th-href="@{theme(themeName=${theme.themeName})}" name="themeName">
          <img data-th-src="@{'https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/theme/' + ${theme.themeName} + .png(type=f,w=24,h=24,faceopt=false,ttype=png)}" alt="테마 이미지">
        </a>
      </div>
      <button class="scroll-right-button" onclick="scrollThemes(100)">&gt;</button>
    </div>
    <div class="filter">
      <button class="filter-button" onclick="openFilterPopup()">필터</button>
    </div>
  </section>
  <section class="slider-container">
    <div class="listing-container">
      <div data-th-each="rentalHome : ${rentalHomeList}" class="listing-item" data-th-object="${rentalHome}">
        <div class="listing-slider">
          <a data-th-href="@{view(rentalHomeNo=${rentalHome.rentalHomeNo})}" name="rentalHomeNo">
            <img class="slide-image" data-th-each="photo : ${rentalHome.rentalHomePhotos}"
                 data-th-src="@{'https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/rentalHome/' + ${photo.uuidPhotoName}(type=f,w=265,h=252,faceopt=false,ttype=jpg)}" alt="숙소 이미지">
          </a>
          <button class="slide-button prev-button">&lt;</button>
          <button class="slide-button next-button">&gt;</button>
          <span data-th-text="${rentalHome.name}">숙소 이름</span>
          <span data-th-text="${rentalHome.price}">숙소 가격</span>
        </div>
      </div>
    </div>
  </section>
  <section class="map-section">
      <div id="map" style="height: 100%">
  
      </div>
  </section>
  <button id="mapButton">지도로 보기</button>
  <button id="listButton">목록으로 보기</button>
</main>
<div id="filterPopup" class="popup">
  <div class="popup-content">
    <span class="close-button" onclick="closeFilterPopup()">&times;</span>

    <!-- 필터 폼 -->
    <div>
      <h3>숙소 유형</h3>
      <div class="filter-options-home-type" data-th-each="theme : ${session.themeList}">
        <label class="theme-checkbox-label">
          <input type="checkbox" name="theme" data-th-value="${theme.themeName}" data-th-text="${theme.themeName}" data-th-if="${theme.themeNo < 10}">
        </label>
      </div>
    </div>
    <div>
      <h3>테마</h3>
      <div class="filter-options-theme" data-th-each="theme : ${session.themeList}">
        <label class="theme-checkbox-label">
          <input type="checkbox" name="theme" data-th-value="${theme.themeName}" data-th-text="${theme.themeName}" data-th-if="${theme.themeNo >= 10 && theme.themeNo < 100}">
        </label>
      </div>
    </div>
    <div>
      <label for="minPrice">최소 가격:</label>
      <input type="number" id="minPrice" name="minPrice">
      <label for="maxPrice">최대 가격:</label>
      <input type="number" id="maxPrice" name="maxPrice">
    </div>
    <div>
      <h3>편의 시설</h3>
      <div class="filter-options-facility" data-th-each="facility : ${session.facilityList}">
        <label for="rentalHomeFacilities">
          
        </label>
      </div>
    </div>
    <button class="apply-filter-button" onclick="getFilterData()" th:text="${rentalHomeList.size + '개의 숙소 보기'}">버튼</button>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
  const rentalHomeList = /*[[${rentalHomeList}]]*/ null;
</script>
<script data-th-src="@{/js/header.js}"></script>
<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "AIzaSyCn7sXQ-7jFww0vK_pndKEMLEsJfMxAsmk",
    // Add other bootstrap parameters as needed, using camel case.
    // Use the 'v' parameter to indicate the version to load (alpha, beta, weekly, etc.)
  });
</script>
<script>
  // 지도 보기 / 목록보기 버튼
  const mapButton = document.getElementById('mapButton');
  const listButton = document.getElementById('listButton');
  const listContainer = document.querySelector('.listing-container');
  const mapContainer = document.querySelector('.map-section');

  // 지도로 보기 버튼
  mapButton.addEventListener('click', function(){
    mapContainer.style.display = 'block';
    listContainer.style.display = 'none';
    mapContainer.style.width = "1920px";
    mapContainer.style.height = "1028px";
    initMap();
  });

  // 목록 보기 버튼
  listButton.addEventListener('click', function(){
    mapContainer.style.display = 'none';
    listContainer.style.display = 'flex';
  });

  // googleMap 초기화
  async function initMap(){
    let rentalHomeProp = [];
    let rentalHome = rentalHomeList; // 숙소 목록
    
    let priceTag = document.createElement("div");
    priceTag.className = "price-tag"

    // 숙소 목록에 대한 정보 작성
    rentalHomeList.forEach(rentalHome =>{
      let photos = [];
      rentalHome.rentalHomePhotos.forEach(photo =>{
        photos.push( photo.uuidPhotoName );
      });
      rentalHomeProp.push( { 
        photo: photos,
        name: rentalHome.name,
        price: rentalHome.price,
        position: {lat:Number(rentalHome.lat) , lng:Number(rentalHome.lon)},
       });
    });

    // googleMap 변수 / 라이브러리
    const{ Map } = await google.maps.importLibrary("maps");
    const{ AdvancedMarkerElement, PinElement } = await google.maps.importLibrary("marker");
    
    // google맵 초기 위치 설정
    let map = new Map(document.getElementById("map"), {
      zoom : 10,
      center: {lat:rentalHomeProp[0].position.lat, lng:rentalHomeProp[0].position.lng},
      mapId: '470e45162ba863f'
    });

    // 구글맵에 표시할 마커에 대한 정보 설정
    for( const property of rentalHomeProp ){
      const advancedMarkerView = new google.maps.marker.AdvancedMarkerElement({
        map,
        // content: buildContent(property), // 구글맵 마커 안쪽에서 표시할 것들 설정
        position:property.position, // 구글맵 마커 위치 설정
        title:property.name,
      });
      
      // 마커 동작에 대한 event
      const element = advancedMarkerView.element;
      ["focus", "pointerenter"].forEach((event) => {
        element.addEventListener(event, ()=>{
          highlight(advancedMarkerView, property);
        });
      });
      ["blur","pointerleave"].forEach((event)=>{
        element.addEventListener(event, () =>{
          unhighlight(advancedMarkerView, property);
        });
      });
      advancedMarkerView.addListener("click",(event) =>{
        unhighlight(advancedMarkerView, property);
      });
    }
  }

  function highlight(markerView, property){
    markerView.content.classList.add("highlight");
    markerView.element.style.zIndex = 1;
  }

  function unhighlight(markerView, property){
    markerView.content.classList.remove("highlight");
    markerView.element.style.zIndex = "";
  }

  // googleMap 마커 내용 설정
  function buildContent(property){
    let content = document.createElement("div");
    
    content.classList.add("property");
    content.innerHTML = "<div class='price-tag'><span class='mapPrice'>"+property.price+"</span></div>";
    
    let mapSlideContainer = document.createElement("div");
    mapSlideContainer.classList.add("mapSlide-container");
    
    // 숙소 이미지 설정 appendChild로 html에서 자식으로 부여되도록 함
    for( var i = 0; i < property.photo.length; i++ ){
      let img = document.createElement("img");
      img.classList.add("mapSlider-image");
      img.src = 'https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/rentalHome/" + property.photo[i] + "?type=f&w=150&h=150&ttype=jpg';
      img.alt = "숙소이미지";
      mapSlideContainer.appendChild(img);
    }
    content.appendChild(mapSlideContainer);
  
    content.innerHTML += "<button class='slide-button prev-button'>&lt;</button><button class='slide-button next-button'>&gt;</button><span>" + property.name + "</span><span>" + property.price + "</span>";

    return content;
  }

  function openFilterPopup(){ // 필터 팝업창 열기
    document.getElementById("filterPopup").style.display = "block";
  }
  function closeFilterPopup(){ // 필터 팝업창 닫기
    document.getElementById("filterPopup").style.display = "none";
  }
  
  // 버튼의 텍스트를 업데이트
  function updateButtonLabel(count){
    const button = document.querySelector(".apply-filter-button");
    button.textContent = count+'개의 숙소 보기';
  }
  
  let filteredRentalHomeList = rentalHomeList;
  function getFilterData(){ // 필터 적용
    let themes = [];
    let checkboxes = document.querySelectorAll('input[name="theme"]:checked');
    checkboxes.forEach(checkbox => {
      themes.push(checkbox.value);
    });
    let minPrice = document.getElementById('minPrice').value;
    let maxPrice = document.getElementById('maxPrice').value;

    // 숙소List filter
    filteredRentalHomeList = Object.values(rentalHomeList).filter(function(rentalHome){
      if( themes != null ){ // theme를 선택했을때, 조건에 맞는 rentalHome return
        return rentalHome.themes.some(theme => themes.includes(theme.themeName)) && rentalHome.price >= minPrice && rentalHome.price <= maxPrice;
      }
      if( themes == null ){ // theme를 선택 안했을때 해당 조건에 맞는 rentalHome return
        return rentalHome.price >= minPrice && rentalHome.price <= maxPrice; 
      }
    });
    
    // 필터링된 숙소의 갯수 업데이트
    updateButtonLabel( filteredRentalHomeList.length );

    // 필터링된 숙소 리스트 업데이트
    updateRentalHomeList(filteredRentalHomeList);

    // 팝업 닫기
    closeFilterPopup();
  }

  function scrollThemes(offset) { // 테마 스크롤 이벤트 (수정 필요)
    const container = document.querySelector('.theme-container');

    container.scrollLeft += offset;
  }

  // 숙소 이미지 슬라이더 이벤트
  function bindSliderEvents(listItem){
    let $slideImages = listItem.find('.slide-image');
    let currentIndex = 0;

    function showSlide(index){
      $slideImages.hide().eq(index).show();
    }

    function showNextSlide(){
      currentIndex = (currentIndex + 1) % $slideImages.length;
      showSlide(currentIndex);
    }

    function showPreviousSlide(){
      currentIndex = (currentIndex -1 + $slideImages.length) % $slideImages.length;
      showSlide(currentIndex);
    }

    listItem.find('.next-button').off('click').on('click', showNextSlide);
    listItem.find('.prev-button').off('click').on('click', showPreviousSlide);

    showSlide(currentIndex);
  }

  // 각 숙소의 이미지 슬라이더 처리
  $('.listing-item').each(function () {
    const $slideImages = $(this).find('.slide-image');
    let currentIndex = 0;

    function showSlide(index) {
      $slideImages.hide().eq(index).show();
    }

    function showNextSlide() {
      currentIndex = (currentIndex + 1) % $slideImages.length;
      showSlide(currentIndex);
    }

    function showPreviousSlide() {
      currentIndex = (currentIndex - 1 + $slideImages.length) % $slideImages.length;
      showSlide(currentIndex);
    }

    $(this).find('.next-button').click(showNextSlide);
    $(this).find('.prev-button').click(showPreviousSlide);

    showSlide(currentIndex);
  });

  // 숙소 목록 재할당
 function updateRentalHomeList(newRentalHomeList){
  let listContainer = $('.listing-container'); // 가장 바깥 html 태그의 class 아이디
  listContainer.empty();

  newRentalHomeList.forEach(function(rentalHome){ // html을 재할당된 숙소 목록으로 재작성
    let listItem = $( '<div class="listing-item">' );
    let sliderDiv = $( '<div class="listing-slider">' );
    
      rentalHome.rentalHomePhotos.forEach(function(photos){
      let image = $( '<img class="slide-image">' )
      .attr( 'src', 'https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/rentalHome/' + photos.uuidPhotoName + '?type=f&w=265&h=252&faceopt=false&ttype=jpg' )
      .attr( 'alt', '숙소이미지' );
      sliderDiv.append(image);
    });
    let imageLeftButton = $('<button class="slide-button prev-button"></button>');
    let imageRightButton = $('<button class="slide-button next-button"></button>');
    let nameSpan = $('<span>').text(rentalHome.name);
    let priceSpan = $('<span>').text(rentalHome.price);
    
    sliderDiv.append(imageLeftButton);
    sliderDiv.append(imageRightButton);
    sliderDiv.append(nameSpan);
    sliderDiv.append(priceSpan);
    listItem.append(sliderDiv);

    listContainer.append(listItem); // html 작성한것 적용
    
    // 사진 슬라이더 이벤트 재할당
    bindSliderEvents(listItem);
  });
 }

 // 테마 검색 후 숙소 목록 재할당
 function handleNewRentalHomeList(newRentalHomeList){
  updateRentalHomeList(newRentalHomeList);
 }

</script>
</body>
</html>
