    <div data-th-fragment="rentalHomeHeader" class="search-container row align-items-center">
      <form action="/main" data-th-action="@{main}" id="condition-search" method="get">
        <div id="firstSearchLine" class="col">
          <input class="search-input mx-auto p-2 mb-2 mt-2" type="text" name="regionName" id="location" placeholder="장소 입력">
          <input class="search-input mx-auto p-2 mb-2 mt-2" type="date" name="checkInDate" id="check-in" placeholder="체크인 날짜">
        </div>
        <div id="secondSearchLine" class="col">
          <input class="search-input mx-auto p-2 mb-2" type="date" name="checkOutDate" id="check-out" placeholder="체크아웃 날짜">
          <input class="search-input mx-auto p-2 mb-2" type="number" name="capacity" id="guests" placeholder="인원" min="1">
          <button class="search-button mx-auto p-2 mb-2" type="submit">검색</button>
        </div>
      </form>
    </div>