<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>사라바</title>
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/member/myInfoLeft.css">
  <link rel="stylesheet" type="text/css" href="/css/member/myInfoTable.css">
  <link rel="stylesheet" type="text/css" href="/css/member/myInfo.css">

</head>
<body>

<div data-th-replace="header :: header">머리말</div>
<div class="rootDiv">
  <div data-th-replace="/member/myInfoLeft :: myInfoLeft"></div>

  <div class="rightDiv">
        <h1 data-th-text="고객센터"></h1>

    <table>
      <tr>
        <td>
          <img src="/img/telephone-operator.png" style="width: 40px;"/>
        </td>
        <td style="vertical-align: bottom;font-size: 27px;font-weight: bold;">도움이 필요하신가요?</td>
      </tr>
    </table>
        <form name="frm" action="questionAdd" data-th-action="@{questionAdd}" enctype='multipart/form-data' method='post' onsubmit="return false;">
          <table class="table_view_clear" style="width: 99%;">
            <tr>
              <td><input name='title' class="formInput" type='text' placeholder="제목:" style="width:50%;"></td>
            </tr>
            <tr>
              <td><textarea name='content' class="formInput" style="height: 200px;width:60%;" placeholder="메세지 작성" ></textarea></td>
            </tr>
            <tr>
              <td>
                <input multiple name='questionFiles' type='file' class="formInput" style="width:30%;">
              </td>
            </tr>
            <tr>
              <td><button onclick="fn_save()">전송</button></td>
            </tr>
          </table>
        </form>
        <br/>
        <table border='1' class="list_table">
          <thead>
          <tr>
            <th>제목</th>
            <th>진행 상태</th>
            <th>작성일</th>
          </tr>
          </thead>
          <tbody>
          <tr data-th-each="question : ${questionList}" data-th-object="${question}">
            <td><a data-th-text="*{title}" data-th-href="@{questionView(questionNo=*{questionNo})}" href="questionView"></a></td>
            <td data-th-text="*{state}"></td>
            <td data-th-text="${#dates.format(question.registerDate,'yyyy.MM.dd')}"></td>
          </tr>
          </tbody>
        </table>
      </div>
</div>


<div data-th-replace="footer :: footer">꼬리말</div>

</body>
<script data-th-src="@{/js/header.js}"></script>
<script data-th-src="@{/js/member/questionList.js}"></script>
</html>