<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>사라바</title>
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/member/myInfoLeft.css">
</head>
<body>

<div data-th-replace="header :: header">머리말</div>
<div class="rootDiv">
  <div data-th-replace="/member/myInfoLeft :: myInfoLeft"></div>

  <div style="margin-left: 20px;">
        <h1>문의 내용 보기</h1>
        <form data-th-object="${question}" enctype='multipart/form-data' method='post'>
          <input type="hidden" data-th-value='*{questionNo}' name='questionNo'>
          <div>
            <input data-th-value="*{title}" name='title' readonly>
          </div>
          <div>
            <textarea data-th-text="*{content}" name='content' style="width: 200px; height: 200px;" readonly></textarea>
          </div>
          <div>
            작성일: <a data-th-text="${#dates.format(question.registerDate,'yyyy.MM.dd')}"></a>
          </div>
            <div>
              첨부파일:
                <li data-th-each="questionFile : *{questionFileList}" data-th-object="${questionFile}">
                  <a style="color:#000;" data-th-href="@{'https://kr.object.ncloudstorage.com/tp3-salaba/question/' + *{uuidFileName}}"
                     data-th-text="*{oriFileName}" href="QuestionFile.html" target="_blank"></a>
                </li>
            </div>

          <div data-th-if="*{state == '1'}" data-th-object="${qna}">
            <textarea data-th-text="*{answer}" name='answer' style="width: 200px; height: 200px;" readonly></textarea>
          </div>
          <div data-th-if="*{state == '1'}" data-th-object="${qna}">
            답변일: <a data-th-text="${#dates.format(qna.answerDate,'yyyy.MM.dd')}"></a>
          </div>

        </form>

      </div>
</div>

<div data-th-replace="footer :: footer">꼬리말</div>

</body>
<script data-th-src="@{/js/header.js}"></script>
</html>