<!DOCTYPE html>
<html lang='en'>
<head>
  <script>
    function fn_save(){ // submit하기 전에 확인하는 옵션

    var title = frm.title.value;
    var content = frm.content.value;

    if(title == ""){
      alert("제목을 입력하세요.");
      frm.title.focus();
      return;
    }
    if(content == ""){
      alert("메세지를 입력하세요.");
      frm.content.focus();
      return;
    }
    frm.submit();
  }
  </script>
  <meta charset='UTF-8'>
  <title>사라바</title>
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/member/myInfoLeft.css">

</head>
<body>

<div data-th-replace="header :: header">머리말</div>
<div class="rootDiv">
  <div data-th-replace="/member/myInfoLeft :: myInfoLeft"></div>

  <div style="margin-left: 20px;">
        <h1 data-th-text="고객센터"></h1>

        <form name="frm" action="questionAdd" data-th-action="@{questionAdd}" enctype='multipart/form-data' method='post' onsubmit="return false;">
          <div>
            <input name='title' type='text' placeholder="제목:">
          </div>
          <div>
            <textarea name='content' style="width: 200px; height: 200px;" placeholder="메세지 작성"></textarea>
          </div>
            <div>
              첨부파일: <input multiple name='questionFiles' type='file'>
            </div>

          <div>
            <button onclick="fn_save()">전송</button>
          </div>
        </form>
        <br/>
        <table border='1' style="width:500px;">
          <thead>
          <tr>
            <th>제목</th>
            <th>진행 상태</th>
            <th>작성일</th>
          </tr>
          </thead>
          <tbody>
          <tr data-th-each="question : ${questionList}" data-th-object="${question}">
            <td><a data-th-text="*{title}" data-th-href="@{questionView(questionNo=*{questionNo})}" href="questionView"></a></td>
            <td data-th-text="*{state}"></td>
            <td data-th-text="${#dates.format(question.registerDate,'yyyy.MM.dd')}"></td>
          </tr>
          </tbody>
        </table>
      </div>
</div>


<div data-th-replace="footer :: footer">꼬리말</div>

</body>
<script data-th-src="@{/js/header.js}"></script>
</html>