<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form data-th-action="@{rental/detail/update}" method="post" data-th-object="${rental}">
    <h4>숙소 사진</h4>
    <div data-th-each="photo : ${rental.photos}" data-th-object="${photo}">
        <img data-th-src="@{'https://kr.object.ncloudstorage.com/tp3-salaba/rentalHome/' + *{uuidName}(type=f,w=100,h=100,ttype=jpg)}">
        <p data-th-text="*{explanation}"></p>
    </div>
    <h4>숙소 기본 정보</h4>
    <div>
        숙소 번호: <input type="text" readonly data-th-value="*{rentalNo}">
    </div>
    <div>
        숙소 이름: <input type="text" readonly data-th-value="*{name}">
    </div>
    <div>
        숙소 설명: <input type="text" readonly data-th-value="*{explanation}">
    </div>
    <div>
        숙소 이용규칙: <input type="text" readonly data-th-value="*{rule}">
    </div>
    <div>
        숙소 가격: <input type="text" readonly data-th-value="*{price}">
    </div>
    <div>
        숙소 청소비: <input type="text" readonly data-th-value="*{cleanFee}">
    </div>
    <div>
        숙소 주소: <input type="text" readonly data-th-value="*{address}">
    </div>
    <h4>객실 정보</h4>
    <div>
        수용 인원: <input type="text" readonly data-th-value="*{capacity}">
    </div>
    <div data-th-each="facility : ${rental.facilities}" data-th-object="${facility}">
        <span data-th-if="*{facilityNo < 4}" data-th-text="*{name}"></span >
        <span data-th-if="*{facilityNo < 4}"> - </span >
        <input type="text" readonly data-th-if="*{facilityNo < 4}" data-th-value="*{count}">

    </div>

    <h4>숙소 타입</h4>
    <div data-th-each="theme : ${rental.themes}" data-th-object="${theme}">
        <input type="text" readonly data-th-if="*{themeNo < 10}" data-th-value="*{themeName}">
    </div>

    <h4>숙소 편의 시설</h4>
    <div data-th-each="facility : ${rental.facilities}" data-th-object="${facility}">
        <input type="text" readonly data-th-if="*{facilityNo > 3}" data-th-value="*{name}">
    </div>

    <h4>숙소 테마</h4>
    <div data-th-each="theme : ${rental.themes}" data-th-object="${theme}">
        <input type="text" readonly data-th-if="*{themeNo >= 10}" data-th-value="*{themeName}">
    </div>
    <div data-th-if="${menu == 2}">
        <button>등록 승인</button>
        <button>등록 거부</button>
    </div>

</form>
</body>
</html>