<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" data-th-href="@{/css/list.css}" href="../../static/css/list.css">
</head>
<body>
<div data-th-replace="header :: header">헤더</div>
<div data-th-replace="sidebar :: sidebar">사이드바</div>
<h3 data-th-text="${menuName}">메뉴 이름</h3>
<table border="1">
    <thead>
    <tr>
        <th>No</th>
        <th>숙소명</th>
        <th data-th-if="${#strings.equals(menuName, '숙소 등록 심사')}">신청인</th>
        <th data-th-if="${#strings.equals(menuName, '등록된 숙소 목록')}">호스트명</th>
        <th>등록일</th>
        <th>상태</th>
        <th>상세 보기</th>

    </tr>
    </thead>
    <tbody>
    <tr data-th-each="rental : ${rentalList}" data-th-object="${rental}">
        <td data-th-text="*{rentalNo}">1</td>
        <td><a data-th-text="*{name}" data-th-href="@{detail(menu=${menu},rno=*{rentalNo})}">이름</a></td>
        <td data-th-text="*{host.name}">호스트명</td>
        <td data-th-text="*{regDate}">등록일</td>
        <td data-th-text="*{stateStr}">상태</td>
        <td><button class="view">view</button></td>
    </tr>
    </tbody>
    <tfoot>
    <td colspan="5" class="tablefoot"></td>
    </tfoot>
</table>
<div data-th-replace="footer :: footer">풋터</div>

</body>
</html>

