

#todoContainer {
    width: 58%;
    background-color: #f0f0f0;
    position: relative;
    top: 50px;
    border-radius: 10px;
    padding: 5px 20px;
    
    margin-left: 20%;
    margin-top: 8%;
}

#title {
    height: 50px;
}

#firstLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding-bottom: 20px;
    padding-top: 15px;
}

#firstLine div span {
    padding-right: 5px;
}

#firstLine div a {
    color: red;
    text-decoration: none;
    
}

#firstLine div a:hover {
    text-decoration: underline;
    cursor: pointer;
    
}
/* 차트 컨테이너 스타일 */
.chart-container {
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* padding: 10px; */
  }
  /* 차트 그리드 스타일 */
  .chart-grid {
    width: 60%;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 6%;
    margin-left: 20%;
  }

  .chart {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 65%;
  }

  /* 차트 제목 스타일 */
  .chart-title {
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }