/* 차트 컨테이너 스타일 */
body {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
  }

.chart-container {
    width: 60%;
    margin: 10%;
}


.charts {
    width: 70%;

}

/* 차트 제목 스타일 */
.chart-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}