
    .imgFiles {
        padding-top: 10px;
        display: flex;
        overflow-x: auto;

    }

    .imgFiles  .imgFile {
        width: 250px;
        height: 200px;
        border-radius: 10px;
        margin-right: 20px;
    }


    .partTitle {
        position: relative;
        left: 0px;
        margin-left: 0px;
        text-align: left;
    }

    .content {

    }

    .infoBox {
        padding-top: 30px;
        display: flex;
        flex-direction: column;

    }

    .infoBox .info {
        display: flex;
        justify-content: space-between;
        margin-left: 15%;
        width : 70%;
        height: 50px;
    }

    .infoBox .hr {
        display: block;
        /* margin-top: 200px; */
        margin-left: 15%;
        width : 70%;
        height: 1px;
        background-color: gainsboro;
    }

    .dealSelect{
        width: 200px;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 10px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        margin-top: 80px;
    }
    
    .dealSelect:focus{
        border: 1px solid #3377d6;
        box-sizing: border-box;
        border-radius: 10px;
        outline: 3px solid #F8E4FF;
        border-radius: 10px;
    }

    .dealBtn {
        padding: 10px;
        background-color: #3377d6;
        color: white;
        border: 0;
        border-radius: 5px;
        margin-top: 80px;
    }

    .itemList { 
        height:15vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .itemList div span {
        padding: 10px;
        background-color: aliceblue;
        border: 1px solid lightblue;
        border-radius: 10px;
        margin-right: 10px;
    }