
    input {
        width: 80%;
        height: 50px;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        border: none;
        margin-bottom: 20px;
    }

    .login {
        position: absolute;
        top: 35%;
        right: 38%;
        width: 400px;
        height: 300px;
        border-radius: 20px;
        text-align: center;
        background-color: #f0f0f0;
    }

    #mainHeader {
        position: absolute; /* 절대적인 위치 설정 */
        top: 0; /* 상단에 위치 */
        left: 0; /* 좌측에 위치 */
        padding: 10px; /* 내부 여백 설정 */

    }

    #logo {
        vertical-align: middle; /* 수직 정렬 */
    }

    #title {
        display: inline-block; /* 요소를 인라인 블록 요소로 설정하여 다른 요소와 가로로 나란히 정렬 */
        margin: 0; /* 여백 제거 */
        padding-left: 10px; /* 텍스트와 이미지 사이의 간격 조정 */
        vertical-align: middle; /* 수직 정렬 */
    }

    #loginForm {
        margin: 50px 10px;
        
    }

    #signIn {
        width: 80%;
        height: 50px;
        border: 0px;
        border-radius: 5px;
        background-color: #3377d6;
        color: white;
    }
