<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div data-th-replace="host/hostHeader :: hostHeader">머리말</div>
<div class="container">
  <div>
    <div data-th-each="reservation : ${list}" data-th-object="${reservation}">
      <span data-th-onclick="'enterChatRoom(' + ${reservation.reservationNo} + ')'"
            data-th-text="*{memberName} + '님과의 대화'"
            data-th-data-no="*{reservationNo}">
        *{memberName}님과의 대화
      </span>
    </div>
  </div>
</div>
<div data-th-replace="footer :: footer">꼬리말</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script data-th-inline="javascript">
  function enterChatRoom(reservationNo) {
    $.ajax({
      url: '/chat/sendLoginUser',
      type: 'POST',
      data: {'reservationNo': reservationNo},
      success: function(response) {
      // Spring Boot 컨트롤러가 응답한 후에 Node.js 서버로 리다이렉트
      window.location.href = `http://localhost:3000/${reservationNo}`;
      },
      error: function(xhr, status, error) {
        console.error('Error sending user ID:', error);
      }
    });
  }

</script>
</body>
</html>