<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title></title>
</head>
<body>
  <main>
    <section>
      <div data-th-each="review : ${rentalHomeReviewList}">
        <span data-th-text="${review.review}">리뷰 내용</span>
        <span data-th-text="${review.score}">평점</span>
        <span data-th-data="${review.createdDate}">작성 일시</span>
      </div>
    </section>
    <section>
      <form action="addReview" data-th-action="@{addReview}" method="post">
        <input type="hidden" data-th-value="1" name="rentalHomeNo">
        <input type="hidden" data-th-value="15" name="reservationNo">
        <div>
          <input data-th-value="${review}" name="review" type="text" placeholder="리뷰 작성">
        </div>
        <div>
          <input data-th-value="${score}" name="score" type="number">
        </div>
        <div>
          <button>등록</button>
        </div>
      </form>
    </section>

  </main>
</body>
</html>