<!DOCTYPE html>
<html lang="en" xmlns:data-th="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <script th:inline="javascript">
    const rentalHomeModel = /*[[${rentalHome}]]*/ null;
    const sessionMemberNo = /*[[${session.memberNo}]]*/ null;
    const rentalHomeNoModel = /*[[${rentalHome.rentalHomeNo}]]*/ null;
    const rentalHomeReviewModel = /*[[${rentalHomeReview}]]*/ null;
    const rentalHomePhoto = /*[[${rentalHomePhoto}]]*/ null;
    const sessionInfo = /*[[${session.loginUser}]]*/ null;

    console.log(rentalHomeModel);
    console.log(rentalHomePhoto);
    console.log(sessionInfo);
  </script>
  <link rel="stylesheet" type="text/css" href="/css/rental_home/view.css">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<section>
  <div data-th-replace="header :: header">header</div>
</section>
<main>
  <!-- 숙소 사진 -->
  <section class="photo-gallery">
    <div class="photo-container">
      <div class="photo-container-item" data-th-each="photo : ${rentalHomePhoto}" data-th-object="${rentalHomePhoto}">
        <img data-th-src=" @{'https://kr.object.ncloudstorage.com/tp3-salaba/rentalHome/' + ${photo.uuidPhotoName}}" alt="숙소 이미지">
      </div>
    </div>
  </section>
  <!-- 숙소 상세 내용 -->
  <section class="rentalHome-content-section">
    <div id="rentalHome-content-left">
      <div class="rentalHome-name">
        <span data-th-text="${rentalHome.name}">숙소 이름</span>
      </div>
      <div>
        <div class="rentalHome-address">
          <span data-th-text="${rentalHome.address}">숙소 주소</span>
        </div>
        <div class="rentalHome-explanation">
          <span class="rentalHome-explanation-h" data-th-text="${rentalHome.explanation}">숙소 소개</span>
        </div>
        <div class="showMoreExplanation-btn">
          <button class="showMoreExplanation">
            <span>더 보기</span>
          </button>
        </div>
        <div class="explanationModal">
          <div class="explanation-modal-content">
            <span class="explanation-modal-close">&times;</span>
            <div class="explanation-content">
              <span data-th-text="${rentalHome.explanation}"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="facility-container">
        <div class="facility-container-title">
          <span>숙소 편의시설</span>
        </div>
        <div class="facility-container-content">
          <div data-th-each="facility, iterStat : ${rentalHomeFacility}" data-th-object="${rentalHomeFacility}">
            <div data-th-if="${iterStat.index < 10}">
              <span data-th-text="${facility.facilityName}">시설 이름</span>
            </div>
          </div>
        </div>
        <div class="facility-modal-button-div" data-th-if="${rentalHomeFacility.size > 10}">
          <button class="facility-modal-button">
            <span data-th-text="${rentalHomeFacility.size +'개의 편의시설 모두 보기'}"></span>
          </button>
        </div>
      </div>
      <div class="facility-modal">
        <div class="facility-modal-container">
          <div class="facility-modal-close">
            <span>&times;</span>
          </div>
          <div class="facility-modal-content">
            <div class="facility-modal-content-title">
              <span>숙소 편의시설</span>
            </div>
            <div class="facility-modal-content-div" data-th-each="facility : ${rentalHomeFacility}" data-th-object="${rentalHomeFacility}">
              <span data-th-text="${facility.facilityName}"></span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="rentalHome-content-right">
      <div class="rentalHome-report">
        <button id="reportButton">신고하기</button>
      </div>
      <div id="reportModal" style="display: none;">
        <span>숙소 신고</span>
        <form id="reportForm">
          <div>
            <select id="category">
              <option value="1">부정확하거나 틀린 정보가 있어요</option>
              <option value="2">실제 숙소가 아닙니다</option>
              <option value="3">사기입니다</option>
              <option value="4">불쾌합니다</option>
              <option value="5">기타</option>
            </select>
          </div>
          <div>
            <input type="text" id="rentalHome-report-content" placeholder="신고 사유를 입력하세요">
          </div>
          <div class="report-modal-button">
            <button type="submit">신고하기</button>
            <button type="button" id="cancelButton">취소</button>
          </div>
        </form>
      </div>
      <div class="reservation-container">
        <div class="reservation-container-title">
          <span>숙소 예약</span>
        </div>
        <div class="reservation-container-content">
          <div class="calendar-container">
            <input type="text" id="checkInDateInput" name="checkInDate" readonly placeholder="체크인">
            <input type="text" id="checkOutDateInput" name="checkOutDate" readonly placeholder="체크아웃">
            <div class="calendar"></div>
          </div>
          <div>
            <input type="number" id="guests" name="guests" placeholder="인원수">
          </div>
        </div>
        <div class="reservation-price-info">
          <div>
            <span class="reservation-duration"></span>
          </div>
          <div>
            <span class="reservation-price"></span>
          </div>
          <div>
            <span class="reservateion-cleanFee" data-th-text="${'청소비 : '+rentalHome.cleanFee}"></span>
          </div>
          <div>
            <span class="reservation-price-total"></span>
          </div>
        </div>
        <div>
          <button class="reservation-button">
            <a data-th-href="@{reservation(rentalHomeNo=${rentalHome.rentalHomeNo})}">
              <span>예약하기</span>
            </a>
          </button>
        </div>
      </div>
    </div>

  </section>
  <section class="map-section">
    <div id="map-title">
      <span>숙소 위치</span>
    </div>
    <div id="map">

    </div>
  </section>
  <section class="review-section">
    <div id="reviewsContainer">
      <span>숙소 리뷰</span>
    </div>
    <div>
      <button id="showMoreReview">리뷰 더 보기</button>
    </div>
  </section>
  <section class="rentalHomeRule-section">
    <div class="rule-container">
      <div class="rule-container-title">
        <span>숙소 규칙</span>
      </div>
      <div class="rule-container-content">
        <span data-th-text="${rentalHome.rentalHomeRule}">숙소 규칙</span>
      </div>
    </div>
  </section>
</main>
  <div data-th-replace="footer :: footer" class="footer-div">footer</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script data-th-src="@{/js/header.js}"></script>
<script data-th-src="@{/js/rental_home/view.js}"></script>
</html>
