<!DOCTYPE html>
<html lang="en" xmlns:data-th="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <script th:inline="javascript">
    const rentalHomeModel = /*[[${rentalHome}]]*/ null;
    const sessionMemberNo = /*[[${session.memberNo}]]*/ null;
    const rentalHomeNoModel = /*[[${rentalHome.rentalHomeNo}]]*/ null;
    const rentalHomeReviewModel = /*[[${rentalHomeReview}]]*/ null;
  </script>
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/rental_home/view.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<section>
  <div data-th-replace="header :: header">header</div>
</section>
<main>
  <section>
    <div class="photo-container">
      <div class="photo-container-item" data-th-each="photo : ${rentalHomePhoto}" data-th-object="${rentalHomePhoto}">
        <img data-th-src=" @{'https://kr.object.ncloudstorage.com/tp3-salaba/rentalHome/' + ${photo.uuidPhotoName}}" alt="숙소 이미지">
      </div>
    </div>
  </section>
  <section class="rentalHome-content-section">
    <div id="rentalHome-content-left">
      <div class="rentalHome-name">
        <h1 data-th-text="${rentalHome.name}">숙소 이름</h1>
      </div>
      <div>
        <div>
          <h3 data-th-text="${rentalHome.address}">숙소 주소</h3>
        </div>
        <div class="rentalHome-explanation">
          <span class="rentalHome-explanation-h" data-th-text="${rentalHome.explanation}">숙소 소개</span>
        </div>
        <button class="showMoreExplanation">더 보기</button>
        <div class="explanationModal">
          <div class="explanation-modal-content">
            <span class="explanation-modal-close">&times;</span>
            <div class="explanation-content">
              <span data-th-text="${rentalHome.explanation}"></span>
            </div>
          </div>
        </div>
      </div>
      <h3 data-th-text="${rentalHome.price}">가격</h3>
      <div data-th-each="facility : ${rentalHomeFacility}" data-th-object="${rentalHomeFacility}">
        <h6 data-th-text="${facility.facilityName}">시설 이름</h6>
        <h6 data-th-text="${facility.facilityCount}">시설 갯수</h6>
      </div>
    </div>
    <div id="rentalHome-content-right">
      <div class="rentalHome-report">
        <button id="reportButton">신고하기</button>
      </div>
      <div id="reportModal" style="display: none;">
        <h2>숙소 신고</h2>
        <form id="reportForm">
          <select id="category">
            <option value="1">부정확하거나 틀린 정보가 있어요</option>
            <option value="2">실제 숙소가 아닙니다</option>
            <option value="3">사기입니다</option>
            <option value="4">불쾌합니다</option>
            <option value="5">기타</option>
          </select>
          <br>
          <input type="text" id="rentalHome-report-content" placeholder="신고 사유를 입력하세요">
          <br>
          <button type="submit">신고하기</button>
          <button type="button" id="cancelButton">취소</button>
        </form>
      </div>
    </div>


  </section>
  <section class="map-section">
    <div id="map">

    </div>
  </section>
  <section class="review-section">
    <div id="reviewsContainer">
      <h3>숙소 리뷰</h3>
    </div>
    <div>
      <button id="showMoreReview">리뷰 더 보기</button>
    </div>
  </section>
  <section>
    <div>
      <h3 data-th-text="${rentalHome.cleanFee}">청소비</h3>
      <h3 data-th-text="${rentalHome.rentalHomeRule}">숙소 규칙</h3>
    </div>
  </section>
</main>
  <div data-th-replace="footer :: footer" class="footer-div">footer</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script data-th-src="@{/js/header.js}"></script>
<script data-th-src="@{/js/rental_home/view.js}"></script>
</html>
