<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div data-th-replace="header :: header">헤더</div>
<h3 data-th-text="${menuName}">메뉴 이름</h3>
<form action='/app/goods/list'>
    <div>
        <input name='keyword' type='text' placeholder='검색'>
    </div>
    <button>검색</button>
</form>
<table border="1">
    <thead>
    <tr>
        <th>No</th>
        <th>이름</th>
        <th>닉네임</th>
        <th>이메일</th>
        <th>연락처</th>
        <th>가입일</th>
        <th data-th-if="${#strings.equals(menuName, '회원 목록')}">상태</th>
        <th data-th-if="${#strings.equals(menuName, '호스트 목록')}">등록 숙소 수</th>
    </tr>
    </thead>
    <tbody>
    <tr data-th-each="member : ${memberList}" data-th-object="${member}">
        <td data-th-text="*{memberNo}">1</td>
        <td data-th-text="*{name}">이름</td>
        <td data-th-text="*{nickname}">닉네임</td>
        <td data-th-text="*{email}">이메일</td>
        <td data-th-text="*{tel}">연락처</td>
        <td data-th-text="*{joinDate}">가입일</td>
        <td data-th-if="${#strings.equals(menuName, '회원 목록')}" data-th-text="*{state}">상태</td>
        <td data-th-if="${#strings.equals(menuName, '호스트 목록')}" data-th-text="*{rentalCount}">등록 숙소 수</td>
    </tr>
    </tbody>
</table>
<div data-th-replace="footer :: footer">풋터</div>

</body>
</html>
