/* 로고 - 검색엔진과 로고 사진을 둘다 사용하는 css로 수정 */
  #logo {
    background-image: url('https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/logo/newLogo1.png?type=w_sh&w=150&quality=100&sharp_amt=1.0&ttype=png');
    background-repeat: no-repeat;
    padding-top: 40px;
    height: 0px;
    overflow: hidden; /* 영역에서 밀려난 콘텐트를 숨김 */
  }

  .userInfo-container {
    position: relative;
    display: inline-block;
  }
  
  .userInfo-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 4px;
    display: none;
    z-index: 1;
  }
  
  .userInfo-menu.show {
    display: block;
  }
  
  .userInfo-menu button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .userInfo-menu button:hover {
    background-color: #ddd;
  }
  
  .userInfo-container:hover .userInfo-menu {
    display: block;
  }