#header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* 로고 - 검색엔진과 로고 사진을 둘다 사용하는 css로 수정 */
.logo-container {
  display: flex;
  align-content: end;
}
#logo {
  background-repeat: no-repeat;
  padding-top: 40px;
  height: 0px;
  overflow: hidden;
}
.logo-div {
  width: 150px;
  height: 50px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
}
#navigationBar {
  margin-top: 18px;
}
#navigationBar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#navigationBar ul li {
  display: inline;
}
#navigationBar ul li a {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 20px;
  color: black;
  font-weight: bold;
  transition: all 0.3s ease;
}
.menu-link.active {
  font-size: 22px;
  border-bottom: 3px solid black; /* 밑줄 추가 */
}
#navigationBar ul li a:hover {
  font-size: 22px;
}
#navigationBar ul li a:visited {
  text-decoration: none;
}
.userInfo-container {
  position: relative;
  display: inline-block;
  right: 0;
}
.userInfo-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 10px;
  display: none;
}
.userInfo-button {
  display: flex;
  align-items: center;
  width: 85px;
  height: 50px;
  border: 1px solid #cccccc;
  border-radius: 25px;
  background-color: #ffffff;
  padding: 8px 14px;
}
.userInfo-button-icon,
.userInfo-button-photo {
  display: inline-block;
}
.userInfo-button-photo {
  margin-left: 8px;
  background-color: #ffffff;
  align-self: center;
}
.userInfo-menu-item {
  display: block;
  text-decoration: none;
  border-radius: 10px;
}
.userInfo-menu-item:hover {
  background-color: #d6d3d3;
}
.userInfo-menu-item a {
  color: inherit;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Noto Sans KR';
}
.userInfo-menu-item a:visited {
  color: inherit;
}
