<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>사라바</title>
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/member/myInfo.css">
  <script>
    function fn_save(){

    var email = frm.email.value;
    var password = frm.password.value;

    if(email == ""){
      alert("이메일을 입력하세요.");
      frm.email.focus();
      return;
    }
    if(password == ""){
      alert("비밀번호를 입력하세요.");
      frm.password.focus();
      return;
    }

    frm.submit();
    }
  </script>
</head>
<body>

<div data-th-replace="header :: header">머리말</div>
<h1>로그인</h1>

<form name="frm" action="login" data-th-action="@{login}" method='post' onsubmit="return false;">
  <table class="table_view_clear" width="300">
    <tr>
      <td width="80" style="border-bottom: 0px;">이메일</td>
      <td><input class="formInput" data-th-value='${email}' name='email' type='text' placeholder="이메일" style="width:199px;"/></td>
    </tr>
    <tr>
      <td>비밀번호</td>
      <td><input class="formInput" name='password' type='password' placeholder="비밀번호"  style="width:199px;"/></td>
    </tr>
  </table>
  <table width="300">
    <tr>
      <td><input name='saveEmail' type='checkbox'> 이메일 저장</td>
      <td align="right"><button onclick="fn_save()">로그인</button></td>
    </tr>
  </table>
</form>
<table width="300">
  <tr>
    <td>
      <a  href="form"><button style="width:100px;">google 로그인</button></a>
    </td>
    <td align="right">
      <a data-th-href="@{/member/form}" href="form"><button style="width:100px;">회원가입</button></a>
    </td>
  </tr>
  <tr>
    <td>
      <a  href="form"><button style="width:100px;">kakao 로그인</button></a>
    </td>
    <td align="right">
      <a data-th-href="@{/member/findEmail}" href="findEmail"><button style="width:100px;">이메일 찾기</button></a>
    </td>
  </tr>
  <tr>
    <td>
      <a  href="form"><button style="width:100px;">naver 로그인</button></a>
    </td>
    <td align="right">
      <a data-th-href="@{/member/findPassword}" href="findPassword"><button style="width:100px;">비밀번호 찾기</button></a>
    </td>
  </tr>
</table>

<div data-th-replace="footer :: footer">꼬리말</div>

</body>
<script data-th-src="@{/js/header.js}"></script>
</html>