<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta content="1;url=/index.html" data-th-if="${session.loginUser} != null" http-equiv="Refresh">
  <meta content="3;url=/auth/form" data-th-if="${session.loginUser} == null and (${memberState} == '1' or ${memberState} == '3' or ${memberState} == '99')"
        http-equiv="Refresh">
  <title>사라바</title>
  <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<script>
  function fn_schPw(){
    frm.method = "post";
    frm.action = "/member/searchPassword";
    frm.submit();
  }
</script>

<div data-th-replace="header :: header">머리말</div>

<h1>로그인</h1>

<p data-th-if="${session.loginUser} != null">[[${session.loginUser.name}]] 님 환영합니다.</p>
<p data-th-if="${session.loginUser} == null and ${memberState} == '99'">이메일 또는 암호가 맞지 않습니다.</p>
<p data-th-if="${session.loginUser} == null and ${memberState} == '1'">탈퇴된 회원입니다.</p>
<p data-th-if="${session.loginUser} == null and ${memberState} == '3'">제재된 회원입니다.</p>
<form name="frm" method="post">
  <input type="hidden" name="name" data-th-value="${memberName}"/>
  <input type="hidden" name="email" data-th-value="${memberEmail}"/>
  <p data-th-if="${session.loginUser} == null and ${memberState} == '4'">
    휴면회원 입니다. 비밀번호를 변경하시면 휴면해제가 가능합니다.
    <br/>
    <button onclick="fn_schPw();">비밀번호 변경하러 가기</button>
</form>

<div data-th-replace="footer :: footer">꼬리말</div>

</body>
<script data-th-src="@{/js/header.js}"></script>
</html>

