<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>한달살기-관리자페이지</title>
    <link rel="stylesheet" type="text/css" data-th-href="@{/css/form.css}" href="../../static/css/detail.css">
</head>
<body>
<div id="mainHeader">
    <img id="logo" src="https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/logo/newLogo2.png?type=w_sh&w=150&quality=100&sharp_amt=1.0&ttype=png"/>
    <h1 id="title">관리자 페이지</h1>
</div>
<div class="login">
    <form id="loginForm" data-th-action="@{/login}" method="post">
        <div id="identi"> <input type="text" name="id" placeholder="아이디"/></div>
        <div id="pw"><input type="password" name="password" placeholder="비밀번호"/></div>
        <button id="signIn">로그인</button>
    </form>
    <a data-th-href="@{/join}">가입하기</a>
</div>

</body>
</html>

