body {
  min-height: 100vh; /* 화면의 최소 높이를 화면 전체로 설정 */
  margin: 0; /* body 요소의 기본 마진 제거 */
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 가로 방향 가운데 정렬 */
  align-items: center; /* 세로 방향 가운데 정렬 */
}

/* 게시판 별 버튼 위치 조정 */
#board-header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  /* 가로 중앙 정렬 */
  align-items: center;
  /* 세로 중앙 정렬 */
  height: 100px;
  /* 필요에 따라 높이 조정 */
  margin-bottom: 20px;
  width: 30%;
}

#board-header button {
  margin-right: 20px; /* 버튼 사이의 간격을 20px로 설정 */
  margin-left: 20px; /* 처음 버튼의 왼쪽 간격도 20px로 설정 */
  padding: 10px 20px; /* 내부 패딩 */
  position: relative;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(206, 243, 222);
  background-color: transparent; /* 배경색을 투명으로 설정 */
}

#board-header button:hover {
  background-color: rgb(100, 194, 179);
  color: #fff;
}


/* 게시판 공통 컨테이너 설정 */
.container {
 width: 100%;
 display: flex;
 justify-content: center;
}

/*제목과 첨부파일 아이콘 사이 간격 띄우기*/
.fa-file {
    margin-left: 8px; /* 왼쪽에 8px의 마진 추가 */
}


/*게시글 제목 위치*/
h1 {
  text-align: left; /* 제목을 가운데 정렬 */
  margin-left: 20px; /* 좌측 여백을 40px로 설정 */
  margin-top: 20px; /* 상단 여백 추가 */
  margin-bottom: 20px; /* 하단 여백 추가 */
}

/* 정보공유, 자유 게시판 비율 조정 */
.board-container {
   /* Flexbox 사용 */
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

}

.board-container .board {
  margin-top: 40px;
  width: 48%;
}

section {
  width: 100%;
}

th, td {
  font-size: 12px;
}

