/* 정보공유, 자유게시판 행 클릭 이벤트 */
tbody tr:hover {
    background-color: lightgray;
    color: white;
    cursor: pointer;
  }
  
  /* 후기게시판 행 클릭 이벤트 */
    tbody tr:hover, .card:hover {
    background-color: lightgray;
    color: white;
    cursor: pointer;
    }

 table {
    /* flex: 1; 각 테이블이 동일한 너비를 가지도록 설정 */
    border-collapse: collapse;
    border-radius: 20px;
    border-style: hidden;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
  }

/* 테이블 헤더와 셀 스타일 */
th, td {
  padding: 10px 10px; /* 셀 내부 패딩 */
  text-align: left; /* 텍스트 왼쪽 정렬 */
  border-bottom: 1px solid #f5f5f5; /* 하단 테두리 선 */
  border-left: none; /* 좌측 테두리 제거 */
  border-right: none; /* 우측 테두리 제거 */
  font-size: 15px;
}

  /* 테이블 행 스타일 */
  tr:hover {
    background-color: #f5f5f5; /* 마우스 오버 시 배경 색상 변경 */
  }

  /* 테이블 헤더 스타일 */
  th {
      background-color: #f9f9f9; /* 배경 색상 */
      color: #333; /* 텍스트 색상 */
      font-weight: bold; /* 글자 굵기 */
  }

  /* 공지사항 행의 배경색 변경 */
  tr.announcement {
      background-color: #ffe6e6; /* 연분홍 */
  }

  /* 게시글 제목 링크 */
  a {
      color: #000; /* 링크 색상 */
      text-decoration: none; /* 밑줄 없앰 */
  }

  a:hover {
      color: #000; /* 링크 마우스 오버 시 색상 변경 */
  }
