  /* 맨 위로 올라가기 */
  #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #35C5B3;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    }


/* 추천수 버튼 */
.heart-btn {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 40px; /* 하트 아이콘 크기 */
  cursor: pointer;
  outline: none;
  display: inline-block;
  position: relative;
}

.heart-btn.active i.fa-regular {
  fill: red; /* 꽉 찬 하트는 빨간색으로 표시 */
}

.heart-btn i.fa-regular {

   fill: #white;
}

.heart-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px; /* 숫자 크기 */
  pointer-events: none; /* 숫자에 대한 클릭 이벤트 방지 */
}

#myLikeCount {
  position: relative;
  left: 55%;
  /*display: none;구현 시 숨기기 */
}

/* 게시글 내용 테두리 설정 */
  .content-box {
    border: 1px solid #ccc; /* 테두리 스타일 및 색상 */
    padding: 10px; /* 내용과 테두리 사이의 여백 설정 */
    margin: 10px 0; /* 다른 요소와의 간격을 조정 */
  }
  .comment {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  .reply {
    border: 0.3px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 20px; /* 답글 들여쓰기. */
  }

