main {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; /* 세로 방향 가운데 정렬 */
}

#board-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board-section form {
  width: 100%;
}

/*게시판 종류*/
h1 {
  text-align: left; /* 제목을 왼쪽 정렬 */
  margin-left: 20px; /* 왼쪽 여백 추가 */
  color: rgb(63, 57, 57);
}

/*제목*/
.title-input {
  pointer-events: none;
  text-align: center;
  font-weight: bold;
  width: 100%; 
  margin: 20px 0; /* 상하 여백 */
  border: none;
  font-size:30px;

}

/*말머리 또는 지역*/
.head-input, .region-input {
  pointer-events: none;
  color: rgb(152, 152, 152);
  border: none;
  text-align: center;
  width: 100%; 
  font-size: 18px;
}

/*작성자와 작성일, 게시글 신고를 나란히 배치*/
.others-container {
  display: flex;
  justify-content: start;
  margin-bottom: 30px;
}

/*작성자*/
.writer-input {
  pointer-events: none;
  border: none;
  width: 10%; 
  font-size: 18px;
}

/*작성일*/
.date-input {
  pointer-events: none;
  border: none;
  width: 10%;
  margin-right: 70%;
  font-size: 14px;
  color: rgb(152, 152, 152);
}

/* 게시글 신고 버튼 */
.board-report-btn {
  height: 2%;
  width: 6%;
  background-color:white;/* 신고 버튼 배경색 */
  color: black; /* 글자색 */
  border: 2px solid rgb(229, 102, 117);
  border-radius: 10px;
}

.board-report-btn:hover {
  background-color:rgb(229, 102, 117);
  border: 2px solid white;
  color: white;
}

.modify-delete {
    text-align: right;
    margin-right: 20px;
}

/* 게시글 수정 버튼 */
.board-modify {
  padding:7px 11px; /* 버튼의 크기를 키우기 위해 패딩을 조절 */
  font-size: 14px; /* 글꼴 크기를 조절 */
  border: 2px solid #718de0;
  background-color: #fff;
  border-radius: 13px;
  color: black;
  text-decoration: none;
}

.board-modify:hover {
  border: 2px solid #fff;
  background-color: #718de0;
  color: #fff;
}

/* 게시글 삭제 버튼 */
#boardDelBtn {
  padding:7px 11px;
  font-size: 14px;
  border: 2px solid #718de0;
  background-color: #fff;
  border-radius: 13px;
  color: black;
  text-decoration: none;
}

#boardDelBtn:hover {
  border: 2px solid #fff;
  background-color: #718de0;
  color: #fff;
}

/*내용 전까지를 묶는 박스*/
.info-box{
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
}

/*내용*/
.content-box {
  overflow-y: auto;
  background-color: white;
  padding: 40px;
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  overflow: auto;
  box-sizing: border-box;
  border-top: 2px solid rgb(152, 152, 152);
  border-bottom: 2px solid rgb(152, 152, 152);
}

.content-box #summernote{
  min-height: 500px;
}

.content-box #summernote{
  min-height: 500px;
}

/**************************************************************************************************************/
/* 추천수 버튼 */
#heart {
  text-align: center;
}

.heart-btn {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 40px; /* 하트 아이콘 크기 */
  cursor: pointer;
  outline: none;
  position: relative;
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center; /* 좋아요 버튼 중앙 정렬 */
  pointer-events: auto; /* 하트 버튼 영역에 대한 이벤트 활성화 */
  margin-bottom: 30px;
}

.heart-btn.active i.fa-regular {
  fill: red; /* 꽉 찬 하트는 빨간색으로 표시 */
}

.heart-btn i.fa-regular {
  fill: white; /*빈 하트는 흰색으로 표시*/
}

.heart-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 12px; /* 숫자 크기 */
  font-weight: bold;
  font-size: 12px; /* 숫자 크기 */
  pointer-events: none; /* 숫자에 대한 클릭 이벤트 방지 */
}

#heart-container {
  display: flex;
  gap: 20px; /* 버튼 사이의 간격 */
}

/*좋아요 수*/
.like-count {
  display: flex;
  position: absolute; /* 숫자를 절대 위치로 설정하여 컨테이너 내에서 자유롭게 이동 */
  top: 50%;
  left: 50%;
  text-align: right;
  align-items: center; /* 중앙 정렬 */
  transform: translate(-50%, -50%); /* 숫자를 수직 및 수평으로 가운데 정렬 */
  flex-direction: column-reverse; /* 요소의 순서를 반전시킵니다 */
}

/*내 좋아요 여부(0,1); 숨김 */
#myLikeCount {
  position: relative;
  left: 55%;
  display: none; /*구현 시 숨기기*/
}

/**************************************************************************************************************/

#comment-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*댓글,답글 리스트*/
#comment-box {
  margin-bottom: 100px;
  margin-left: 20px;
  width: 100%;
  text-align: left;
  overflow: hidden;
}

/*댓글 작성하기*/
#comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* 내부 여백 설정 */
  height: 100%;
  width: 100%; /* 폼의 너비 설정 */
  margin-left: 20px;
  margin-bottom: 20px;
}

#comment-content {
  border: 1px solid gray;
  height: 50px; /* 고정 높이 사용 */
  width: 80%;
  border-radius: 10px; /* 모서리를 약간 둥글게 설정 */
  text-align: left;
  box-sizing: border-box; 
  line-height: normal; /* line-height를 normal로 설정 */

}

#reply-content {
  border: 1px solid gray;
  height: 60%;
  width: 80%;
  border-radius: 4px; /* 모서리를 약간 둥글게 설정 */
  text-align: right; /* 텍스트를 오른쪽에 정렬 */
  align-self: flex-end; /* 자신을 오른쪽으로 정렬 */
  box-sizing: border-box; 
  text-align: left;
  margin-bottom: 20px;
}


.button-container1, .button-container2 {
  display: none;
  margin-right: 100px;
}

.button-container1 button:hover, .button-container2 button:hover{
  color: #ccc;
}


.commentContentDiv, .replyContentDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 5px;
  margin-bottom: 5px; 
  border-bottom: 1px solid gainsboro;

}

.replyContentDiv {
  margin-left: 30px;
}

/* 댓글 내용 정렬 조정 */
.comment-text {
  display:block;
  align-items: center;
  gap: 10px; /* 요소 간의 간격 */
}

/*답글 */
.reply-text {
  gap: 10px; /* 요소 간의 간격 */
  margin-left: 40px;
}

/*수정, 삭제, 신고를 묶어둔 컨테이너*/
.button-container1, .button-container2 {
  display: flex;
  height: 40px;
  gap: 10px;
  margin-top: 10px;
  justify-content: flex-end; /* 버튼들을 오른쪽으로 정렬 */
}

/* 댓글, 답글 내용 크기 조정 */
.commentContent, .replContent {  
  flex: 1; /* 부모 요소에서 남은 공간을 차지  */
  height: 610%; 
  width: 60%;
  font-size: 15px; /* 댓글과 답글 내용의 글꼴 크기를 키움 */
  margin-left: 30%; 
}


/*댓글, 답글 작성일*/
.comment-date, .reply-date {
  color: gray;
  margin-left: 10px;
  font-size: 10px;
}

/*댓글 수정 폼*/
.commentModifyForm {
  align-items: flex-end;
}

/*컨텐츠*/
.textContent {
  padding: 0px;
  border: 1px solid #fdfdfd; /*댓글, 답글 경계선 묶기 */
  margin-bottom: 5px;
  border-radius: 2px; /* 테두리 모서리 둥글게 */
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

/*작성자명*/
.nickname {
  margin-top: 5px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 11pt;
}


/* 답글 폼 */
/*평소에 폼 숨기기 -> 이벤트 발생 시 나타나는 폼*/
/* .form-hidden {
  display: none;
  overflow: hidden;
} */

#replyForm {
  display: flex;
  justify-content: flex-end; /* 오른쪽 정렬 */
  margin-right: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: left; /* 폼 내용을 왼쪽으로 정렬 */
}

/* 프로필 사진 원형 만들기 */
.profile-img1, .profile-img2 {
  width: 30px; /* 이미지의 가로 크기 */
  height: 30px; /* 이미지의 세로 크기 */
  object-fit: cover; /* 이미지를 요소 크기에 맞게 조정 */
  border-radius: 50%; /* 둥근 모서리로 설정 */
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
}


/* 삭제, 수정, 신고 버튼 */
.del, .del2, .modi, .modi2, .comment-report-btn, .reply-report-btn, .comtModiConfirm, .comtModiCancel, .replModiConfirm, .replModiCancel {
  border: none;
  padding:5px 10px; /* 버튼의 크기를 키우기 위해 패딩을 조절 */
  font-size: 13px; /* 글꼴 크기를 조절 */
  background-color: #ffffff;
}

/*수정 폼*/
.commentModifyForm, .replyModifyForm {
  gap: 10px; /* 요소들 사이의 간격 */
  padding: 10px; /* 내부 여백 */
  border-radius: 4px; /* 모서리를 약간 둥글게 설정 */
  margin-top: 10px;
  width: 100%;
}

.newContent {
  width: 85%; /* 가로 크기를 부모 요소의 전체 크기로 설정 */
  height: 60px; /* 높이 설정 */
  border: 1px solid gray; /* 상자 테두리 색상 및 스타일 */
  border-radius: 4px; /* 모서리를 약간 둥글게 설정 */
  padding: 10px; /* 내부 여백 설정 */
  box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */
  resize: none; /* 사용자가 크기를 조절하지 못하도록 설정 */
}

/*댓글 달기 버튼*/
#addCommentBtn  {
  border: 2px solid #718de0;
  background-color: #fff;
  border-radius: 15px;
  padding:13px 12px; /* 버튼의 크기를 키우기 위해 패딩을 조절 */
  font-size: 14px; /* 글꼴 크기를 조절 */
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 9px;
  align-self: flex-end; /* 자신을 오른쪽으로 정렬 */
}

#addCommentBtn:hover {
  border: 2px solid #fff;
  background-color: #718de0;
  color: #fff;
}

/* 답글 달기 버튼 */
#addReplyBtn, #cancelReplyBtn {
  border: 1px solid #fff;
  padding: 3px 6px; /* 패딩을 줄여서 버튼 크기를 작게 조정 */
  font-size: 14px; /* 글꼴 크기를 조절 */
  height: 30px; /* 버튼의 높이를 작게 조정 */
  width: 80px; /* 버튼의 너비를 작게 조정 */
  margin-top: 10px; /* 버튼을 폼의 하단에 띄우기 */
  align-self: flex-end; /* 버튼을 오른쪽으로 정렬 */
  margin-left: 10px; /* 폼과의 간격 조정 */
}


/**************************************************************************************************************/

/*신고 폼 내부 디자인: 내용*/
textarea[name='content'] {
  width: 100%;
  height: 200px;
  padding: 10px; /* 내용과 테두리 사이 여백 */
  border: 1px solid #ccc; /* 테두리 스타일과 색상 */
  border-radius: 5px; /* 테두리 모서리 둥글게 */
  resize: none; /* 사용자가 크기를 조절하지 못하도록 함 */
  font-size: 16px; /* 폰트 크기 */
  font-family: Arial, sans-serif; 
  margin-top: 10px;
  margin-bottom: 10px;
}

#reportModal .modal-dialog {
  margin-top: 15%;
}

/* 맨 위로 올라가기 */
#scrollToTopBtn2 {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 3%;
}

#scrollToTopBtn2 button {
  background: rgb(229, 229, 182);
  border-radius: 50%; /* 둥근 모서리 */
  border: none;
  cursor: pointer;
  width: 100%; /* 부모 요소의 너비에 맞춤 */
  height: 100%; /* 부모 요소의 높이에 맞춤 */
}
