#tabBar {
    
    padding-bottom: 20px;
    background-color: #f0f0f0;
    position: fixed;
    left: 20px; /* 왼쪽 여백 */
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    text-align: left;
    transition: top 0.3s ease;
  }

  #home {
    padding-top: 25px;
    font-size: x-large;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .subTitle {
    color: grey;
    font-weight: normal;
    margin-left: 10px;

  }

  .menu:link,
  .menu:visited {
    background-color: #f0f0f0c7;
    color: #333;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    display: block;
  }

  .menu:hover,
  .menu:active {
    background-color: #333;
    color: white;
  }