#map{
    height: 1028px;
    width: 1920px;
  }
  body {
    font-family: Arial, sans-serif;
  }

  html,body{
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .search-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-wrap: wrap;
  }

  .search-input,
  .search-button {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .search-button:hover {
    background-color: #0056b3;
  }

  .theme-container{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    align-items: center;
  }

  .theme-icon-container{
    width: 56px;
    height: 48px;
    border: 1px solid #ddd;
    flex-shrink: 0;
  }

  .listing-container {
    margin: 20px auto; /* 중앙 정렬 */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* 왼쪽 정렬 */
  }

  .listing-item {
    width: 265px; /* 수정된 부분: listing-item의 너비를 265px로 지정 */
    height: 300px; /* 수정된 부분: listing-item의 높이를 300px로 지정 */
    margin-right: 20px; /* 수정된 부분: 우측 여백 추가 */
    margin-bottom: 20px; /* 수정된 부분: 하단 여백 추가 */
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
  }

  .listing-item img {
    /* width: 100%; div에 맞추어 이미지의 너비 조절 */
    /* height: 100%; div에 맞추어 이미지의 높이 조절 */
    object-fit: cover;
  }

  .listing-slider {
    position: relative;
    width: 100%; /* 수정된 부분: slider의 너비를 100%로 지정 */
    height: 100%; /* 수정된 부분: slider의 높이를 100%로 지정 */
  }


  /* 여기부터 사진에 있는 버튼 부분 */
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    font-size: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.54);
  }

  .prev-button {
    left: 10px;
  }

  .next-button {
    right: 10px;
  }

  /* 팝업 스타일 */
  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .popup-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* 구글맵 마커 css */
  .property {
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #263238;
    display: flex;
    font-size: 14px;
    gap: 15px;
    height: 30px;
    justify-content: center;
    padding: 4px;
    position: relative;
    position: relative;
    transition: all 0.3s ease-out;
    width: 30px;
  }

  .property::after {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #FFFFFF;
    content: "";
    height: 0;
    left: 50%;
    position: absolute;
    top: 95%;
    transform: translate(-50%, 0);
    transition: all 0.3s ease-out;
    width: 0;
    z-index: 1;
  }

  .price-tag{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #4285F4;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 10px 15px;
    position: relative;
  }

  .price-tag::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #4285F4;
  }
  .property.highlight {
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    height: 80px;
    padding: 8px 15px;
    width: auto;
  }

  .property.highlight::after {
    border-top: 9px solid #FFFFFF;
  }

  .property.highlight .mapSlide-container {
    display: flex;
  }

  .property.highlight .price-tag {
    width: 50px;
    height: 50px;
  }


  .mapSlide-container{
    display: none;
    flex-direction: column;
    flex: 1;
  }