<!DOCTYPE html>
<html lang='en'>
<head>
  <style>
    .left-li{
      list-style-type:none;
      width: 110px;
      background-color: #b9b9b9;
      text-align: center;
      margin-top: 10px;
      padding: 10px 5px 10px 5px;
    }
    li a {
      text-decoration-line: none;
      color: #fff;
    }
  </style>
  <meta charset='UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>사라바</title>
</head>
<body>
<div data-th-replace="header :: header">머리말</div>
<table style="width:100%;height:540px;">
  <tr>
    <td style="width:200px;border: 1px solid #000;background-color: #f5f1f1;vertical-align:top;">
      <table style="width:200px;background-color: #f5f1f1;">
        <tr>
          <td colspan="2" style="text-align:center;padding-top: 10px;">
            <a data-th-href="@{'https://kr.object.ncloudstorage.com/tp3-salaba/member/' + *{photo}}"
               data-th-if="*{session.loginUser.photo}">
              <img data-th-src="@{'https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/member/' + *{session.loginUser.photo}(type=f,w=80,h=80,ttype=jpg)}"></a><br>
            <a data-th-unless="*{session.loginUser.photo}" href='/img/default-photo.jpeg'>
              <img height='80px' src='/img/default-photo.jpeg'></a>
          </td>
        </tr>
        <tr>
          <td colspan="2" style="text-align:center;">[[${session.loginUser.nickname}]]</td>
        </tr>
        <tr>
          <td style="text-align:right;width: 35%;">등급:</td>
          <td style="text-align:right;padding-right:15px;" data-th-text='*{session.memberGradeName}'></td>
        </tr>
        <tr>
          <td style="text-align:right;width: 35%;">포인트:</td>
          <td style="text-align:right;padding-right:15px;" data-th-text='*{session.memberPoint}'></td>
        </tr>
      </table>
      <ul>
        <li class="left-li"><a data-th-href="@{/member/myinfoCheckPassword}" data-th-if="${session.loginUser != null}" href="member/myinfoCheckPassword">내정보 관리</a></li>
        <li class="left-li"><a data-th-href="@{/bookmark/bookmarkList}" data-th-if="${session.loginUser != null}" href="bookmark/bookmarkList">즐겨찾기</a></li>
        <li class="left-li"><a data-th-href="@{/reservation/reservationList}" data-th-if="${session.loginUser != null}" href="reservation/reservationList">예약 내역</a></li>
        <li class="left-li"><a data-th-href="@{/board/boardHistory}" data-th-if="${session.loginUser != null}" href="board/boardHistory" style="color:#000;"><b>작성글 내역</b></a></li>
        <li class="left-li"><a data-th-href="@{/pointHistory/pointList}" data-th-if="${session.loginUser != null}" href="pointHistory/pointList">포인트 내역</a></li>
        <li class="left-li"><a data-th-href="@{/question/questionList}" data-th-if="${session.loginUser != null}" href="question/questionList">고객센터</a></li>
      </ul>
    </td>
    <td style="vertical-align:top;">
      <div style="padding-left: 15px;overflow: auto;width: 98%;height: 533px;">
        <h1>작성글 내역</h1>
        <a data-th-href="@{/board/boardHistory}" href="board/boardHistory">작성글</a>
        <a data-th-href="@{/board/commentHistory}" href="board/commentHistory" style="color:#000;"><b>작성댓글</b></a>

<div id="header">
  <!-- 검색 폼 추가 -->
  <form id="search-form" action="/search" method="GET">
    <input type="text" id="search-input" name="q" placeholder="검색어를 입력하세요">
    <button type="submit" id="search-button">검색</button>
  </form>
</div>

<table border='1'>
  <thead>
  <tr>
    <th></th>
    <th>작성된 글제목</th>
    <th>내용</th>
    <th>작성일/시간</th>
  </tr>
  </thead>
  <tbody>
  <tr data-th-each="board : ${list}" data-th-object="${board}">
    <td data-th-text="*{cnr}"></td>
    <td><a data-th-href="@{view(boardNo=*{boardNo},categoryNo=*{categoryNo})}" data-th-text="*{title}"
           href="view.html"></a></td>
    <td data-th-text="*{content}"></td>
    <td data-th-text="${#dates.format(board.createdDate,'yyyy-MM-dd')}"></td>
  </tr>
  </tbody>
</table>
<!-- 페이지 설정 -->
<p>
  [
  <a data-th-if="${pageNo} <= 1">이전</a>
  <a data-th-if="${pageNo > 1}"
     data-th-href="@{commentHistory(pageNo=${pageNo - 1},pageSize=${pageSize})}"
     href="list">이전</a>
  ]
  [
  <a data-th-if="${pageNo >= numOfPage}">다음</a>
  <a data-th-if="${pageNo < numOfPage}"
     data-th-href="@{commentHistory(pageNo=${pageNo + 1},pageSize=${pageSize})}"
     href="list">다음</a>
  ]
</p>
<div data-th-replace="footer :: footer">꼬리말</div>

</body>
</html>