<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>비트캠프 데브옵스 5기</title>

  <!-- include libraries(jQuery, bootstrap) -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- include summernote css/js -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/board/form.css">
</head>
<body>

<div data-th-replace="header :: header">머리말</div>
<h1 data-th-text="${boardName}">게시판</h1>

<form action="add" data-th-action="@{add}" enctype='multipart/form-data' method='post'>
  <input id="categoryNo" data-th-value="*{categoryNo}" name='categoryNo' type='hidden'>

  <div class="info-box">
    <div data-th-if="*{categoryNo != 0}">
      분류:
      <select name="headNo">
        <option value="1" hidden>공지</option> <!-- 일반 회원은 공지 작성 권한 없음 -->
        <optgroup data-th-if="*{categoryNo == 1}" label="[정보공유]">
          <option selected value="2">이벤트</option>
          <option value="3">홍보</option>
          <option value="4">꿀팁</option>
        </optgroup>
        <optgroup data-th-if="*{categoryNo == 2}" label="[자유]">
          <option selected value="5">잡담</option>
          <option value="6">질문</option>
        </optgroup>
      </select>
    </div>

    <div data-th-if="*{categoryNo == 0}">
      지역:
      <select name="regionNo">
        <optgroup label="[국내여행]">
          <option value="1">서울</option>
          <option value="2">제주도</option>
          <option value="3">전주</option>
        </optgroup>
        <optgroup label="[해외여행]">
          <option value="11">삿포로</option>
          <option value="12">오사카</option>
          <option value="13">후쿠오카</option>
          <option value="21">베를린</option>
          <option value="22">프랑크푸르트</option>
          <option value="31">브리즈번</option>
          <option value="32">멜버른</option>
          <option value="33">시드니</option>
          <option value="41">파리</option>
          <option value="42">몽펠리에</option>
        </optgroup>
      </select>
    </div>

    <div>
      공개범위:
      <input name="scopeNo" value="0" type="radio" checked>
      <label>전체공개</label>
      <input name="scopeNo" value="1" type="radio">
      <label>회원공개</label>
      <input name="scopeNo" value="2" type="radio">
      <label>비공개</label><br>
    </div>
  </div>

  <div>
    <input id="titleInput" name='title' type='text' placeholder="제목을 입력하세요.">
  </div>

  <div>
    <textarea id="summernote" name='content'></textarea>
  </div>

  <!-- 등록 버튼 -->
  <div id="write-button-container">
    <button id="write-button">등록</button>
  </div>
</form>

<div data-th-replace="footer :: footer">꼬리말</div>

<script data-th-src="@{/js/board/form.js}"></script>
<script>

</script>
</body>
</html>

<script>
$('#write-button').click(function (e) {
  e.preventDefault();
  console.log($('#summernote').val().length);
  if ($('#titleInput').val().trim().length <= 2 || $('#summernote').val().trim().length <= 2) {
    alert('제목과 내용은 2자 이상이여야 합니다.')
  } else {
    $('form').submit();

  }
})
</script>