<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>비트캠프 데브옵스 5기</title>

  <!-- include libraries(jQuery, bootstrap) -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- include summernote css/js -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css"
        rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
  <link rel="stylesheet" type="text/css" href="board.css">

</head>
<body>

<div data-th-replace="header :: header">머리말</div>
<button type="button" name="review" onclick="location.href='/board/list?categoryNo=0'">후기게시판</button>
<button type="button" name="inform" onclick="location.href='/board/list?categoryNo=1'">정보공유게시판</button>
<button type="button" name="community" onclick="location.href='/board/list?categoryNo=2'">자유게시판</button>

<h1 data-th-text="${boardName}">게시판</h1>

<form action="add" data-th-action="@{add}" enctype='multipart/form-data' method='post'>
  <input id="categoryNo" data-th-value="*{categoryNo}" name='categoryNo' type='hidden'>

  <div data-th-if="*{categoryNo != 0}">
    <select name="headNo">
      분류:
      <option value="1">공지</option>
      <optgroup label="[정보공유]">
      <option value="2">이벤트</option>
      <option value="3">홍보</option>
      <option value="4">꿀팁</option>
      </optgroup>
      <optgroup label="[자유]">
      <option value="5">잡담</option>
      <option value="6">질문</option>
      </optgroup>
    </select>
  </div>

  <div data-th-if="*{categoryNo == 0}">
    <select name="regionNo">
      지역:
      <optgroup label="[국내여행]">
      <option value="1">서울</option>
      <option value="2">제주도</option>
      <option value="3">전주</option>
      </optgroup>
      <optgroup label="[해외여행]">
      <option value="11">삿포로</option>
      <option value="12">오사카</option>
      <option value="13">후쿠오카</option>
      <option value="21">베를린</option>
      <option value="22">프랑크푸르트</option>
      <option value="31">브리즈번</option>
      <option value="32">멜버른</option>
      <option value="33">시드니</option>
      <option value="41">파리</option>
      <option value="42">몽펠리에</option>
      </optgroup>
    </select>
  </div>

  <div>
    제목: <input name='title' type='text'  placeholder="제목을 입력하세요.">
  </div>
  <div>
<!--    <input type="hidden" id="scopeNo" name="scopeNo" value="">-->
    공개범위:
    <input name="scopeNo" data-th-value="0" type="radio" >
    <label>전체공개</label><br>
    <input name="scopeNo" data-th-value="1" type="radio">
    <label>회원공개</label><br>
    <input name="scopeNo" data-th-value="2" type="radio">
    <label>비공개</label><br>
  </div>
  <div>
    내용: <textarea id="summernote" name='content'></textarea>
  </div>
  <div>
    <button>등록</button>
  </div>
</form>

<div data-th-replace="footer :: footer">꼬리말</div>

<script data-th-src="@{/board/board.js}"></script>
<script>
  $(document).ready(function() {
    $('#summernote').summernote({
        height: 800,
        width: 1000,
        callbacks: {
            onInit: function() {
                console.log('Summernote 생성됨!');
            },
            onImageUpload: function(files) {
                let data = new FormData();
                for (const file of files) {
                    data.append("files", file);
                }
                let categoryNo = $("#categoryNo").val();

                $.ajax({
                    url: 'file/upload?categoryNo=' + categoryNo,
                    type: 'POST',
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    data: data
                })
                .done(function(result) {
                    if (result.length == 0) {
                        alert('로그인 하세요!');
                        return;
                    }

                    // 카테고리 번호에 따라 다른 경로를 설정
                    let basePath = 'https://kr.object.ncloudstorage.com/tp3-salaba/board/';
                    if (categoryNo == '0') {
                        basePath += 'review/';
                    } else {
                        basePath += 'community/';
                    }

                    for (const boardFile of result) {
                        $('#summernote').summernote('insertImage',
                            basePath + boardFile.uuidFileName);
                    }
                })
                .fail(function(xhr, status, error) {
                    console.error('Upload failed: ' + error);
                    alert('이미지 업로드 실패: ' + error);
                });
            }
        }
    });
});

</script>
</body>
</html>