<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>비트캠프 데브옵스 5기</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="board.css">

<h2>검색 결과</h2>
<ul>
  <li data-th-each="result : ${searchResults}">
    제목: <span data-th-text="${result.title}"></span>,
    내용: <span data-th-text="${result.content}"></span>,
    작성자: <span data-th-text="${result.nickname}"></span>,
    작성일: <span data-th-text="${result.createdDate}"></span>
  </li>
</ul>

<script data-th-src="@{/board/board.js}"></script>

</body>
</html>
