<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비트캠프 데브옵스 5기</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css"
        rel="stylesheet">

</head>
<body>

<div data-th-replace="header :: header">머리말</div>

<!-- 게시글 조회 -->
<h1 data-th-text="${boardName}">게시판</h1>
<form action="modify" data-th-action="@{modify}" data-th-object="${board}">
  <div>
    작성자: <input data-th-value="*{writer.nickname}" readonly type='text' value="홍길동">
  </div>
  <div>
    작성일:<input data-th-value="${#dates.format(board.createdDate,'yyyy-MM-dd')}" readonly
               type='text' value="2024-03-27">
  </div>
  <div data-th-if="${loginUser == null || board.writer.no != loginUser.no}">
   <div data-th-if="*{categoryNo != 0}">
      분류: <input data-th-value="*{headContent}" readonly name='headContent' type="text">
   </div>
    <div data-th-if="*{categoryNo == 0}">
      지역: <input data-th-value="${board.region.regionName}" type="text">
    </div>
    <div>
      제목: <input data-th-value="*{title}" name='title' type='text' readonly value="제목입니다.">
    </div>
  </div>
    <div>
      내용: <div id="summernote" data-th-utext="*{content}" name='content'></div>
    </div>


  <input data-th-value="*{categoryNo}" name='categoryNo' type='hidden'>

  <div>
    <input data-th-value="*{boardNo}" name='boardNo' type='hidden' value="100">
  </div>
    <!--수정 버튼-->
    <div data-th-if="${loginUser != null && board.writer.no == loginUser.no}" >
      <button data-th-href="@{modify(categoryNo=*{categoryNo}, boardNo=*{boardNo})}"
              href="modify.html">수정하기</button>
      <a data-th-href="@{delete(categoryNo=*{categoryNo}, boardNo=*{boardNo})}">[삭제]</a>
    </div>
</form>

<!-- 추천 버튼 -->
<div>
  <button id="likeButton" class="heart-btn">&#10084;<span id="likeCount">30</span></button>
</div>

<!-- 게시글 신고 -->
<div>
  <button type="button" id="board-report-btn" class="report-btn">신고</button>
</div>

<!-- 댓글 & 답글 폼 -->
<div class="comment">
  <h2>댓글</h2>
  <div class="comment">
    <tr>
      <td>
        <a data-th-href="@{'https://kr.object.ncloudstorage.com/tp3-salaba/member/' + *{photo}}"
           data-th-if="*{photo}" img height='40px'>
          <img
              data-th-src="@{'https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/member/' + *{photo}(type=f,w=10,h=10,ttype=jpg)}"></a><br>
        <a data-th-unless="*{photo}" href='/img/default-photo.jpeg'>
          <img height='40px' src='/img/default-photo.jpeg'></a><br>
      </td>
    </tr>
    <input data-th-value="${board.writer.nickname}" readonly type='text' value="홍길동">
    작성일:<input data-th-value="${#dates.format(board.createdDate,'yyyy-MM-dd')}" readonly
               type='text' value="2024-03-27">
    내용:<input data-th-value="*{content}" readonly name='content' type='text' value="내용">
  </div>
    <button>답글 달기</button>
  <button type="button" id="comment-report-btn" class="report-btn">신고</button>

  <div class="reply">
    <div>
      <tr>
        <td>
          <a data-th-href="@{'https://kr.object.ncloudstorage.com/tp3-salaba/member/' + *{photo}}"
             data-th-if="*{photo}" img height='40px'>
            <img
                data-th-src="@{'https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/member/' + *{photo}(type=f,w=10,h=10,ttype=jpg)}"></a><br>
          <a data-th-unless="*{photo}" href='/img/default-photo.jpeg'>
            <img height='40px' src='/img/default-photo.jpeg'></a><br>
        </td>
      </tr>
    <input data-th-value="${board.writer.nickname}" readonly type='text' value="홍길동">
    작성일:<input data-th-value="${#dates.format(board.createdDate,'yyyy-MM-dd')}" readonly
               type='text' value="2024-03-27">
      내용:<input data-th-value="*{content}" readonly type='text' value="내용">
    </div>

    <button>답글 달기</button>
    <button type="button" id="reply-report-btn" class="report-btn">신고</button>
  </div>
</div>
</div>

<form action="addComment" data-th-action="@{addComment}" method="post">
  <label for="comment">댓글 작성:</label><br>
  <textarea id="comment" name="comment" rows="4" cols="50"></textarea><br>
  <input type="submit" value="등록">
  <button>취소</button>
</form>

<!-- 페이지 맨 위로 올라가기-->
<button id="scrollToTopBtn" onclick="scrollToTop()">🔝</button>

<div data-th-replace="footer :: footer">꼬리말</div>

<script>
  <!-- 게시글 -->
  $('#board-report-btn').click(function() {
    var title = '신고하기';
    var width = 800;
    var height = 600;
    openPopup('report/form?type="0"', title, width, height);
  });

 <!-- 댓글 -->
  $('#comment-report-btn').click(function() {
    var title = '신고하기';
    var width = 800;
    var height = 600;
    openPopup('report/form?type="1"', title, width, height);
  });

 <!-- 답글 -->
    $('#reply-report-btn').click(function() {
    var title = '신고하기';
    var width = 800;
    var height = 600;
    openPopup('report/form?type="2"', title, width, height);
  });


$(document).ready(function() {
  // 초기 추천 수 설정
  var likeCount = 0;
  var isLiked = false;

  // 추천 버튼 클릭 이벤트 처리
  $('#likeButton').click(function() {
    if (!isLiked) { // 추천하지 않은 상태
      // 추천 수 증가
      likeCount++;
      // 추천 수 업데이트
      $('#likeCount').text(likeCount);
      // 추천 상태 변경
      isLiked = true;
      alert('추천 완료');
    } else { // 이미 추천한 상태
      // 추천 수 감소
      likeCount--;
      // 추천 수 업데이트
      $('#likeCount').text(likeCount);
      // 추천 상태 변경
      isLiked = false;
      alert('추천이 취소되었습니다.');
    }
  });
});


      // 버튼 표시 여부를 확인하고 스크롤 위치에 따라 버튼을 보여주거나 감추는 함수
    window.onscroll = function() {
        scrollFunction();
    };

    function scrollFunction() {
        var scrollToTopBtn = document.getElementById("scrollToTopBtn");
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            scrollToTopBtn.style.display = "block";
        } else {
            scrollToTopBtn.style.display = "none";
        }
    }

    // 페이지 맨 위로 스크롤하는 함수
    function scrollToTop() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

  // 팝업 창을 열기 위한 함수
  function openPopup(url, title, width, height) {
    var left = (screen.width - width) / 2;
    var top = (screen.height - height) / 2;
    var options = 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width=' + width + ', height=' + height + ', top=' + top + ', left=' + left;
    window.open(url, title, options);
  }

</script>

<style>
  body {
    padding-left: 10px;
  }
  .comment {
    margin-top: 20px;
  }
  .comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  .reply {
    border: 0.3px solid #ccc;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 20px; /* 답글 들여쓰기. */
  }
   .heart-btn {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 40px;
    cursor: pointer;
    outline: none;
    display: inline-block;
    position: relative;
  }
  .heart-btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 12px;
  }
  #scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #35C5B3;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
  }
</style>

</body>
</html>