<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>사라바</title>
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/member/myInfoLeft.css">
  <link rel="stylesheet" type="text/css" href="/css/member/myInfoTable.css">

</head>
<body>

<div data-th-replace="header :: header">머리말</div>
<div class="rootDiv">
  <div data-th-replace="/member/myInfoLeft :: myInfoLeft"></div>

  <div class="rightDiv">
        <h1>포인트 내역</h1>

        <table border='1' style="min-width:800px;" class="list_table">
          <colgroup>
            <col width="*"/>
            <col width="25%"/>
            <col width="25%"/>
            <col width="25%"/>
          </colgroup>
          <thead>
          <tr>
            <th>포인트 적립내용</th>
            <th style="text-align:center;">적립 포인트</th>
            <th style="text-align:center;">적립 날짜</th>
            <th style="text-align:center;">누적 포인트</th>
          </tr>
          </thead>
          <tbody>
          <tr data-th-each="pointHistory : ${pointList}" data-th-object="${pointHistory}">
            <td data-th-text="*{saveContent}"></td>
            <td data-th-text="*{savePoint}" style="text-align:center;"></td>
            <td data-th-text="${#dates.format(pointHistory.saveDate,'yyyy-MM-dd')}" style="text-align:center;"></td>
            <td data-th-text="*{totalPoint}" style="text-align:center;"></td>
          </tr>
          </tbody>
        </table>
      </div>
</div>

<div data-th-replace="footer :: footer">꼬리말</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script data-th-src="@{/js/header.js}"></script>
</html>