<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>사라바</title>
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/member/myInfoLeft.css">
</head>
<body>

<div data-th-replace="header :: header">머리말</div>
<div class="rootDiv">
  <div data-th-replace="/member/myInfoLeft :: myInfoLeft"></div>

  <div style="margin-left: 20px;">
        <h1>포인트 내역</h1>

        <table border='1'>
          <thead>
          <tr>
            <th>포인트 적립내용</th>
            <th>적립 포인트</th>
            <th>적립 날짜</th>
            <th>누적 포인트</th>
          </tr>
          </thead>
          <tbody>
          <tr data-th-each="pointHistory : ${pointList}" data-th-object="${pointHistory}">
            <td data-th-text="*{saveContent}"></td>
            <td data-th-text="*{savePoint}"></td>
            <td data-th-text="${#dates.format(pointHistory.saveDate,'yyyy.MM.dd')}"></td>
            <td data-th-text="*{totalPoint}"></td>
          </tr>
          </tbody>
        </table>
      </div>
</div>

<div data-th-replace="footer :: footer">꼬리말</div>

</body>
<script data-th-src="@{/js/header.js}"></script>
</html>