
body{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.left-li{
  list-style-type:none;
  width: 110px;
  text-align: center;
  padding: 17px 5px 10px 5px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
  height: 28px;
}
.left-li:last-child{
  list-style-type:none;
  width: 110px;
  text-align: center;
  padding: 17px 5px 10px 5px;
  background-color: #f8f8f8;
  border-bottom: 0px;
  height: 28px;
}
.left-li:hover{
  font-weight: bold;
}
li a {
  text-decoration-line: none;
  color: #000;
}
.center{
  list-style-type:none;
  width: 110px;
  text-align: center;
  padding: 10px 5px 10px 5px;
}
.active{
  background-color: #91e1d5;;
  font-weight: bold;
  color: #fff;
}
.active a{
  font-weight: bold;
  color: #fff;
}
.rootDiv{
  display: flex;
}