main{
  font-family: "Noto Sans KR";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#rentalHomeRule-content,
#rentalHomeAddress-content,
#reservation-content,
#refund-title{
  border-top: 1px solid #cccccc;
  
}