<!DOCTYPE html>
<html lang='en'>
  <head>
  <meta charset='UTF-8'>
  <title></title>
</head>
<body>

<h1>승인 대기중 예약</h1>
<table border="1" >
  <thead>
  <tr>
    <th>숙소명</th>
    <th>게스트명</th>
    <th>이용 기간</th>
  </tr>
  </thead>
  <tbody>
  <tr data-th-if="${hostReservation.state == 0}" data-th-each="hostReservation : ${list}"
      data-th-object="${hostReservation}">
    <td data-th-text="*{rentalHomeName}">그레이트 호텔</td>
    <td data-th-text="*{memberName}">홍길동</td>
    <td data-th-text="${#dates.format(hostReservation.startDate,'yyyy-MM-dd')} +
    '~' + ${#dates.format(hostReservation.endDate,'yyyy-MM-dd')}">2024-02-01 ~ 2024-04-01</td>
    <td><form
        action="stateUpdate" data-th-action="@{stateUpdate}" method="post">
      <input name="state" value="1" type="hidden">
      <input name="reservationNo" data-th-value="*{reservationNo}" type="hidden">
      <button>예약 승인</button>
    </form></td>
    <td><form
        action="stateUpdate" data-th-action="@{stateUpdate}" method="post">
      <input name="state" value="2" type="hidden">
      <input name="reservationNo" data-th-value="*{reservationNo}" type="hidden">
      <button>예약 거절</button>
    </form><td>
  </tr>
  </tbody>
</table>

<div></div>

<h1>승인된 예약</h1>
<table border="1">
  <thead >
  <tr>
    <th>숙소명</th>
    <th>게스트명</th>
    <th>이용 기간</th>
  </tr>
  </thead>
  <tbody >
  <tr data-th-if="${hostReservation.state == 1}"
      data-th-each="hostReservation : ${list}" data-th-object="${hostReservation}">
    <td data-th-text="*{rentalHomeName}">그레이트 호텔</td>
    <td data-th-text="*{memberName}">홍길동</td>
    <td data-th-text="${#dates.format(hostReservation.startDate,'yyyy-MM-dd')} +
    '~' + ${#dates.format(hostReservation.endDate,'yyyy-MM-dd')}">2024-02-01 ~ 2024-04-01</td>
  </tr>
  </tbody>
</table>



</body>
</html>