<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>사라바</title>
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/member/myInfoLeft.css">
  <link rel="stylesheet" type="text/css" href="/css/member/myInfoTable.css">
  <link rel="stylesheet" type="text/css" href="/css/member/boardHistory.css">

</head>
<body>
<div data-th-replace="header :: header">머리말</div>

<div class="rootDiv">
  <div data-th-replace="/member/myInfoLeft :: myInfoLeft"></div>
    <div class="rightDiv">
        <h1>작성글 내역</h1>
<form name="frm" method="post"></form><!--페이지 이동용 Form 태그-->
<div id="header">
  <button onclick="movePage('1')">작성글</button>
  <button onclick="movePage('2')">작성댓글</button>

<!--  &lt;!&ndash; 검색 폼 &ndash;&gt;-->
<!--  <div id="bsearch-container">-->
<!--    <form id="bsearch-form" action="/board/search" data-th-action="@{search}" method="GET">-->
<!--      <input type="hidden" data-th-name="categoryNo" data-th-value="*{categoryNo}">-->
<!--      <select name="type">-->
<!--        <option value="title">제목</option>-->
<!--        <option value="content">내용</option>-->
<!--      </select>-->
<!--      <input type="text" id="bsearch-input" name="keyword" placeholder="검색어를 입력하세요" value="">-->
<!--      <button id="bsearch-button">검색</button>-->
<!--    </form>-->
<!--  </div>-->

<!-- 게시판 -->
<table border='1' class="list_table">
  <thead>
  <tr>
    <th style="text-align:center;">카테고리</th>
    <th>제목</th>
    <th style="text-align:center;">작성일</th>
    <th style="text-align:center;">추천수</th>
    <th style="text-align:center;">조회수</th>
<!--    <th style="text-align:center;">첨부파일</th>-->
  </tr>
  </thead>
  <tbody>
  <tr data-th-each="board : ${list}" data-th-object="${board}">
    <td data-th-text="*{categoryNm}" style="text-align:center;"></td>
    <td><a data-th-href="@{/board/view(boardNo=*{boardNo},categoryNo=*{categoryNo})}" data-th-text="*{title}"
           href="../board/view.html"></a></td>
    <td data-th-text="${#dates.format(board.createdDate,'yyyy-MM-dd')}" style="text-align:center;"></td>
    <td data-th-text="*{likeCount}" style="text-align:center;"></td>
    <td data-th-text="*{viewCount}" style="text-align:center;"></td>
<!--    <td style="text-align:center;">-->
<!--      &lt;!&ndash; 파일 아이콘을 첨부파일이 있는 경우에만 표시 &ndash;&gt;-->
<!--      <i data-th-if="${board.fileCount > 0}" class="fa-regular fa-file"></i>-->
<!--    </td>-->
  </tr>
  </tbody>
</table>

<!--페이징 시작-->
<table class="paging-bar">
  <tr>
    <td>
      <ul>
        <!-- 가장 앞 페이지로 돌아가기 버튼 -->
        <li data-th-classappend="${pageNo == 1} ? 'disabled' : ''">
          <a data-th-if="${pageNo > 1}" data-th-href="@{boardHistory(pageNo=1, pageSize=${pageSize})}" href="#" aria-label="Previous">
            <span aria-hidden="true">&#10094;&#10094;</span>
          </a>
          <span data-th-unless="${pageNo > 1}" aria-hidden="true">&#10094;&#10094;</span>
        </li>
        <!-- '이전' 페이지 버튼 -->
        <li data-th-classappend="${pageNo == 1} ? 'disabled' : ''">
          <a data-th-if="${pageNo > 1}" data-th-href="@{boardHistory(pageNo=${pageNo - 1}, pageSize=${pageSize})}" href="#" aria-label="Previous">
            <span aria-hidden="true">&#10094;</span>
          </a>
          <span data-th-unless="${pageNo > 1}" aria-hidden="true">&#10094;</span>
        </li>

        <!-- 동적 페이지 번호 링크 -->
        <li data-th-each="i : ${#numbers.sequence(1, numOfPage)}" data-th-classappend="${pageNo == i} ? 'active' : ''">
          <a data-th-href="@{boardHistory(pageNo=${i}, pageSize=${pageSize})}" data-th-text="${i}" href="#">1</a>
        </li>

        <!-- '다음' 페이지 버튼 -->
        <li data-th-classappend="${pageNo == numOfPage} ? 'disabled' : ''">
          <a data-th-if="${pageNo < numOfPage}" data-th-href="@{boardHistory(pageNo=${pageNo + 1}, pageSize=${pageSize})}" href="#" aria-label="Next">
            <span aria-hidden="true">&#10095;</span>
          </a>
          <span data-th-unless="${pageNo < numOfPage}" aria-hidden="true">&#10095;</span>
        </li>
        <!-- 가장 마지막 페이지로 돌아가기 버튼 -->
        <li data-th-classappend="${pageNo == numOfPage} ? 'disabled' : ''">
          <a data-th-if="${pageNo < numOfPage}" data-th-href="@{boardHistory(pageNo=${numOfPage}, pageSize=${pageSize})}" href="#" aria-label="Next">
            <span aria-hidden="true">&#10095;&#10095;</span>
          </a>
          <span data-th-unless="${pageNo < numOfPage}" aria-hidden="true">&#10095;&#10095;</span>
        </li>
      </ul>
    </td>
  </tr>
</table>
<div data-th-replace="footer :: footer">꼬리말</div>
</div>
</div>
</div>
</body>
<script data-th-src="@{/js/header.js}"></script>
<script data-th-src="@{/js/member/boardHistory.js}"></script>
</html>