<!DOCTYPE html>
<html lang='en'>
<head>
  <style>
    .left-li{
      list-style-type:none;
      width: 110px;
      background-color: #b9b9b9;
      text-align: center;
      margin-top: 10px;
      padding: 10px 5px 10px 5px;
    }
    li a {
      text-decoration-line: none;
      color: #fff;
    }
  </style>
  <style>
    .center{
      list-style-type:none;
      width: 110px;
      text-align: center;
      padding: 10px 5px 10px 5px;
    }
  </style>
  <meta charset='UTF-8'>
  <title>사라바</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    $(document).ready(function() {
      var pwcheck = "[[${pwcheck}]]";
      if(pwcheck == "Y"){
        alert("비밀번호가 일치하지 않습니다.");
      }
    });
  </script>
</head>

<body>

<div data-th-replace="header :: header">머리말</div>

<table style="width:100%;height:540px;">
  <tr>
    <td style="width:200px;border: 1px solid #000;background-color: #f5f1f1;vertical-align:top;">
      <ul>
        <li class="left-li">
          <img data-th-src="@{'https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/member/' + ${session.loginUser.photo}(type=f,w=80,h=80,ttype=jpg)}"></a><br></li></li>
        <li class="center">[[${session.loginUser.nickname}]]</li>
        <li class="left-li"><a data-th-href="@{/member/chkPw}" data-th-if="${session.loginUser != null}" href="member/chkPw" style="color:#000;"><b>내정보 관리</b></a></li>
        <li class="left-li"><a data-th-href="@{/bookmark/bookmark}" data-th-if="${session.loginUser != null}" href="bookmark/bookmark">즐겨찾기</a></li>
        <li class="left-li"><a data-th-href="@{/reservation/reservationList}" data-th-if="${session.loginUser != null}" href="reservation/reservationList">예약 내역</a></li>
        <li class="left-li"><a data-th-href="@{/board/boardHistory}" data-th-if="${session.loginUser != null}" href="board/boardHistory">작성글 내역</a></li>
        <li class="left-li"><a data-th-href="@{/pointHistory/pointList}" data-th-if="${session.loginUser != null}" href="pointHistory/pointList">포인트 내역</a></li>
        <li class="left-li"><a data-th-href="@{/question/questionList}" data-th-if="${session.loginUser != null}" href="question/questionList">고객센터</a></li>
      </ul>
    </td>
    <td style="vertical-align:top;">
      <div style="padding-left: 15px;overflow: auto;width: 98%;height: 533px;">
        <h1>비밀번호 확인</h1>

        <form name="frm" action="chkPw" data-th-action="@{checkPw}" method='post'>
          <table width="300">
            <tr>
              <td>비밀번호</td>
              <td><input name='password' type='password'></td>
            </tr>
            <tr>
              <td><button>확인</button></td>
            </tr>
          </table>
        </form>
      </div>
    </td>
  </tr>
</table>
<div data-th-replace="footer :: footer">꼬리말</div>

</body>
</html>