<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>사라바</title>
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/member/boardHistory.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<script th:inline="javascript">
  const numOfPage = /*[[${numOfPage}]]*/ null;
  const pageNo = /*[[${pageNo}]]*/ null;
  const pageSize = /*[[${pageSize}]]*/ null;
  const sessionInfo = /*[[${session}]]*/ null;
  console.log(pageNo);
  console.log(pageSize);
  console.log(numOfPage);
</script>
<body>
  <div data-th-replace="header :: header">머리말</div>
  <main class="container-sm">
  <section id="myPage-leftSection" class="g-col-2 mt-5">
    <div data-th-replace="/member/myPageSideMenu :: myPageSideMenu">a</div>
  </section>

  <section id="myPage-rightSection" class="row g-col-8 p-4 mt-5">
    <div id="myPage-title-container">
      <div>
        <h1>댓글 내역</h1>
      </div>
    </div>

    <div class="rightDiv">
      <table class="table table-light table-striped-columns table-hover">
        <thead>
          <tr class="table-light">
            <th></th>
            <th>글제목</th>
            <th>내용</th>
            <th>작성일/시간</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light" data-th-each="board : ${list}" data-th-object="${board}">
            <td class="table-light" data-th-text="*{cnr}"></td>
            <td class="table-light" id="title">
              <input type="hidden" data-th-value="*{boardNo}" id="boardNo" />
              <input type="hidden" data-th-value="*{categoryNo}" id="categoryNo" />
              <a data-th-text="*{title}" id="boardViewLink"
                href="javascript:void(0);" onclick="checkBoard(this);"></a></td>
            <td id="content" class="table-light" data-th-text="*{content}"></td>
            <td class="table-light" data-th-text="${#dates.format(board.createdDate,'yyyy-MM-dd/hh:mm:ss')}"></td>
          </tr>
        </tbody>
      </table>
      <th:block data-th-if="${list} != null">
        <div class="d-flex justify-content-center">
          <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" data-th-href="@{/member/commentHistory(pageNo=1)}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item" data-th-each="i : ${#numbers.sequence(1, numOfPage)}">
                <a class="page-link" data-th-href="@{/member/commentHistory(pageNo=${i})}" data-th-text="${i}"></a>
              </li>
              <li class="page-item">
                <a class="page-link" data-th-href="@{/member/commentHistory(pageNo=${numOfPage})}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </th:block>
    </div>
  </section>
</main>
<div data-th-replace="footer :: footer">꼬리말</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script data-th-src="@{/js/header.js}"></script>
<script data-th-src="@{/js/member/commentHistory.js}"></script>
<script data-th-src="@{/common/alarm.js}" src="common/alarm.js" type="module"></script>

</html>