<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>사라바</title>
  <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>

<body>

<div data-th-replace="header :: header">머리말</div>

<h1>이메일 찾기</h1>

<form data-th-if="${findYn == 'Y'}" data-th-object="${member}" method='post'>
  <table width="300">
    <tr>
      <td colspan="2"><label data-th-text="*{name}"></label>님의 가입하신 이메일은 <label data-th-text="*{email}"></label> 입니다.</td>
    </tr>
    <tr>
      <td><a data-th-href="@{/auth/form}" href="form">확인</a></td>
      <td><a data-th-href="@{/member/findPassword}" href="findPassword">비밀번호 찾기</a></td>
    </tr>
  </table>
</form>

  <table width="300" data-th-if="${findYn == 'N'}">
    <tr>
      <td>가입하신 이메일이 조회되지 않습니다.</td>
    </tr>
    <tr>
      <td><a data-th-href="@{/member/findEmail}" href="findEmail"><button>돌아가기</button></a></td>
    </tr>
  </table>

<div data-th-replace="footer :: footer">꼬리말</div>

</body>
<script data-th-src="@{/js/header.js}"></script>
</html>