<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>사라바</title>
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/member/myInfo.css">

</head>
<body>

<div data-th-replace="header :: header">머리말</div>

<h1>이메일 찾기</h1>

<form name="frm" action="findEmail" data-th-action="@{searchEmail}" method='post' onsubmit="return false;">
  <table class="table_view_clear">
    <tr>
      <td>이름</td>
      <td><input class="formInput" name='name' type='text'></td>
    </tr>
    <tr>
      <td>생년월일</td>
      <td><input class="formInput" name='birthday' type='date'></td>
    </tr>
    <tr>
      <td><button onclick="fn_save()">이메일 찾기</button></td>
    </tr>
  </table>
</form>

<div data-th-replace="footer :: footer">꼬리말</div>

</body>
<script data-th-src="@{/js/header.js}"></script>
<script data-th-src="@{/js/member/findEmail.js}"></script>
</html>