<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>사라바</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/member/myInfo.css">

<body>

<div data-th-replace="header :: header">머리말</div>

<h2>회원가입</h2>

<form name="frm" action="add" data-th-action="@{add}" method='post' onsubmit="return false;">
  <table class="table_view_clear" width="430">
    <tr>
      <td style="width:28%">이름</td>
      <td><input class="formInput" name='name' type='text'></td>
    </tr>
    <tr>
      <td>닉네임</td>
      <td><input class="formInput" name='nickname' type='text'></td>
    </tr>
    <tr>
      <td>생년월일</td>
      <td><input class="formInput" name='birthday' type='date'></td>
    </tr>
    <tr>
      <td>이메일</td>
      <td>
        <input class="formInput" name='email' id='email' type='hidden' />
        <input class="formInput" id='email1' type='text' style="width:80px;">@<input class="formInput" id='email2' type='text' style="width:80px;">
        <select id='email3' onchange="fn_emailChange(this);" class="formInput" style="width:100px;">
          <option value="">직접입력</option>
          <option value="naver.com">naver.com</option>
          <option value="google.com">google.com</option>
          <option value="daum.net">daum.net</option>
          <option value="yahoo.com">yahoo.com</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>비밀번호</td>
      <td><input class="formInput" name='password' type='password'></td>
    </tr>
    <tr>
      <td>비밀번호 확인</td>
      <td><input class="formInput" name='repassword' type='password'></td>
    </tr>
    <tr>
      <!--onclick은 클릭 했을때 실행되는 이벤트다.
      버튼 오브젝트는 클릭시 자동으로 form 에 submit 가 발동된다.-->
      <td><button onclick="fn_save()">가입</button></td>
    </tr>
  </table>
</form>

<div data-th-replace="footer :: footer">꼬리말</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script><!--중복체크 메시지를 위해 필요함>-->
<script data-th-src="@{/js/header.js}"></script>
<script data-th-src="@{/js/member/form.js}"></script>
<script>
  $(document).ready(function() { // 화면이 전부 로딩 된 후 자동으로 실행되는 함수
   var nickcheck = "[[${nickcheck}]]";
   if(nickcheck == "Y"){
    alert("이미 사용중인 닉네임 입니다.");
   }
   if(nickcheck == "N"){
    alert("사용가능한 닉네임 입니다.");
   }
  });
</script>
</html>