<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>사라바</title>
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/member/myInfoLeft.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    function fn_save(){ // submit하기 전에 확인하는 옵션

    var password = frm.password.value;

    if(password == ""){
      alert("비밀번호를 입력하세요.");
      frm.password.focus();
      return;
    }

    frm.submit();
  }
    $(document).ready(function() {
      var pwcheck = "[[${pwcheck}]]";
      if(pwcheck == "Y"){
        alert("비밀번호가 일치하지 않습니다.");
      }
    });

  </script>
</head>

<body>

<div data-th-replace="header :: header">머리말</div>

<div class="rootDiv">
  <div data-th-replace="/member/myInfoLeft :: myInfoLeft"></div>

  <div style="margin-left: 20px;">
      <h1>비밀번호 확인</h1>

      <form name="frm" action="myinfoCheckPassword" data-th-action="@{checkPassword}" method='post' onsubmit="return false;">
        <table style="width:100%;">
          <tr>
            <td>비밀번호</td>
            <td><input name='password' type='password'></td>
          </tr>
          <tr>
            <td><button onclick="fn_save()">확인</button></td>
          </tr>
        </table>
      </form>
  </div>
</div>
<div data-th-replace="footer :: footer">꼬리말</div>

</body>
<script data-th-src="@{/js/header.js}"></script>
</html>