<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset='UTF-8'>
  <title>사라바</title>
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/member/myInfoLeft.css">
  <link rel="stylesheet" type="text/css" href="/css/member/myInfo.css">

</head>
<body>

<div data-th-replace="header :: header">머리말</div>
<div class="rootDiv">
  <div data-th-replace="/member/myInfoLeft :: myInfoLeft"></div>
        <div class="rightDiv">
        <h2>내 정보</h2>
        <form name="frm" data-th-object="${member}"
              enctype='multipart/form-data'
              method='post' onsubmit="return false;">
          <input type="hidden" data-th-value='*{no}' name="no"/>
          <input type="hidden" data-th-value='*{nickname}' name="oldNickname" />

          <table class="table_view">
              <colgroup>
                <col width="100px"/>
                <col width="*"/>
              </colgroup>
            <tbody>
            <tr>
              <th class="required">이름</th>
              <td><input type="text" class="formInput" data-th-value='*{name}' name="name"/></td>
            </tr>
            <tr>
              <th class="required">닉네임</th>
              <td>
                <input type="hidden" data-th-value='${nickcheck}' name="nickcheck" />
                <input type="text" class="formInput" maxlength="20" data-th-value='*{nickname}' name="nickname" />
                <button onclick="fn_nickCheck();">중복체크</button>
              </td>
            </tr>
            <tr>
              <th class="required">이메일</th>
              <td><input type="text" class="formInput" data-th-value='*{email}' name="email" readonly/></td>
            </tr>
            <tr>
              <th class="required">전화번호</th>
              <td><input type="text" class="formInput" oninput="Tel(this)" maxlength="13" data-th-value='*{telNo}' name="telNo"/></td>
            </tr>
            <tr>
              <th class="required">생년월일</th>
              <td ><input type="date" class="formInput" data-th-value="*{birthday}" name="birthday"/></td>
            </tr>
            <tr>
              <th>국적</th>
              <td>
                <select name="nationNo" class="formInput">
                  <option data-th-each="nation : ${nationList}" data-th-value="${nation.nationNo}"
                          th:selected="${nation.nationNo == member.nationNo}"><label data-th-text="${nation.nationName}"></label></option>
                </select>
              </td>
            </tr>
            <tr>
              <th>성별</th>
              <td>
                <!--#strings.contains 는 Like 검색기능으로 문자열중에 포함되는 글자가 있으면 참, 없으면 거짓을 리턴한다.
                이유는 모르겠으나 if로 하면 제대로 비교를 못함. 문자열 비교는 #strings.contains 로 해야 한다고 함.
                -->
                <input type="radio" name="sex" value="M" th:checked="${#strings.contains(member.sex,'M'.toString())}" />남
                <input type="radio" name="sex" value="W" th:checked="${#strings.contains(member.sex,'W'.toString())}" />여
              </td>
              </select>
            </tr>
            <tr>
              <th class="required">주소</th>
              <td><input type="text" class="formInput" data-th-value='*{address}' name="address" /></td>
            </tr>
            <tr>
              <th>선호사항</th>
              <td>
                <button onclick="fn_mytheme();">편집</button>
              </td>
            </tr>
            <tr>
              <th>사진</th>
              <td>
                <a data-th-href="@{'https://kr.object.ncloudstorage.com/tp3-salaba/member/' + *{photo}}"
                   data-th-if="*{photo}">
                  <img
                      data-th-src="@{'https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/member/' + *{photo}(type=f,w=80,h=80,ttype=jpg)}"></a><br>
                <a data-th-unless="*{photo}" href='/img/default-photo.jpeg'>
                  <img height='80px' src='/img/default-photo.jpeg'></a><br>
                <input name='file' type='file'>
              </td>
            </tr>
            <tr>
              <th>비밀번호</th>
              <td>
                <button onclick="fn_showChangePassword();">변경</button>
                <table style="width:100%;display:none;" id="passwordChangeTable">
                  <tr>
                    <td>비밀번호</td>
                    <td><input name='password' class="formInput" type='password'></td>
                  </tr>
                  <tr>
                    <td>비밀번호 확인</td>
                    <td><input name='repassword' class="formInput" type='password'></td>
                  </tr>
                  <tr>
                    <td style="border-bottom: 0px;" colspan="2">
                      <button onclick="fn_passwordSave();">비밀번호 변경 완료</button>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
          <table style="width:354px;">
            <tr>
              <td align="left"><button onclick="fn_save();">정보 저장</button></td>
              <td align="right"><button onclick="fn_memberDelete();" style="background-color: #fb4d4d;color:#fff;border:0px solid">회원탈퇴</button></td>
            </tr>
          </table>
        </form>
      </div>
</div>
<div data-th-replace="footer :: footer">꼬리말</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script><!--중복체크 메시지를 위해 필요함>-->
<script data-th-src="@{/js/header.js}"></script>
<script data-th-src="@{/js/member/myinfo.js}"></script>
<script>
  $(document).ready(function() {
   var nickcheck = "[[${nickcheck}]]";
   if(nickcheck == "Y"){
     alert("이미 사용중인 닉네임 입니다.");
   }
   if(nickcheck == "N"){
     alert("사용가능한 닉네임 입니다.");
   }
 });
</script>
</html>
