<!DOCTYPE html>
<html lang='en' xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset='UTF-8'>
  <title>테스트</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    $(document).ready(function() {//화면이 전부 로딩 된 후 자동으로 실행되는 함수
      var nickNameChkYn = "[[${nickNameChkYn}]]";
      if(nickNameChkYn == "Y"){
        alert("이미 사용중인 닉네임 입니다.");
      }
    });
  </script>
</head>
<body>

<div data-th-replace="header :: header">머리말</div>

<h2>내 정보</h2>
<form name="frm" action="" data-th-action="@{myinfoUpdate}" data-th-object="${member}"
      enctype='multipart/form-data'
      method='post'>
  <input type="hidden" data-th-value='*{no}' name="no"/>
  <input type="hidden" data-th-value='*{nickname}' name="oldNickname" />
  <table border='1'>
    <tbody>
    <tr>
      <th>이름</th>
      <td><input type="text" data-th-value='*{name}' name="name"/></td>
    </tr>
    <tr>
      <th>닉네임</th>
      <td><input type="text" data-th-value='*{nickname}' name="nickname" /></td>
    </tr>
    <tr>
    <th>이메일</th>
      <td><input type="text" data-th-value='*{email}' name="email" readonly/></td>
    </tr>
    <tr>
      <th>전화번호</th>
      <td><input type="text" data-th-value='*{telNo}' name="telNo" /></td>
    </tr>
    <tr>
      <th>생년월일</th>
      <td ><input type="date" data-th-value="*{birthday}" name="birthday"/></td>
    </tr>
    <tr>
      <th>국적</th>
      <td>
        <select name="nationNo">
            <option data-th-each="nation : ${nationList}" data-th-value="${nation.nationNo}" th:selected="${nation.nationNo == member.nationNo}"><label data-th-text="${nation.nationName}"></label></option>
        </select>
      </td>
    </tr>
    <tr>
      <th>성별</th>
      <td>
        <!--#strings.contains 는 Like 검색기능으로 문자열중에 포함되는 글자가 있으면 참, 없으면 거짓을 리턴한다. 예)#strings.contains('이현우','현우'.toString()) => true
        왜인지는 모르겠으나 if로 하면 제대로 비교를 못한다. 검색해보니 문자열 비교는 #strings.contains 로 해야 한다고 한다.
        -->
        <input type="radio" name="sex" value="M" th:checked="${#strings.contains(member.sex,'M'.toString())}" />남
        <input type="radio" name="sex" value="W" th:checked="${#strings.contains(member.sex,'W'.toString())}" />여
      </td>
    </select>
    </tr>
    <tr>
      <th>주소</th>
      <td><input type="text" data-th-value='*{address}' name="address" /></td>
    </tr>
    <tr>
      <th>사진</th>
      <td>
        <a data-th-href="@{'https://kr.object.ncloudstorage.com/bitcamp-devops5-118/member/' + *{photo}}"
           data-th-if="*{photo}">
          <img
              data-th-src="@{'https://rljiyddk2675.edge.naverncp.com/68i0l8DhXa/member/' + *{photo}(type=f,w=80,h=80,ttype=jpg)}"></a><br>
        <a data-th-unless="*{photo}" href='/img/default-photo.jpeg'>
          <img height='80px' src='/img/default-photo.jpeg'></a><br>
        <input name='file' type='file'>
      </td>
    </tr>
  </tbody>
</table>
  <tr>
  <td><button>정보 저장</button></td>
  </tr>
  <tr>
    <td> <a data-th-href="@{delete(no=*{no})}" href="delete.html">[회원탈퇴]</a></td>
  </tr>
</form>

<div data-th-replace="footer :: footer">꼬리말</div>
</body>
</html>
