<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>사라바</title>
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/member/myInfoLeft.css">
  <link rel="stylesheet" type="text/css" href="/css/member/myInfo.css">

</head>

<body>

<div data-th-replace="header :: header">머리말</div>

<div class="rootDiv">
  <div data-th-replace="/member/myInfoLeft :: myInfoLeft"></div>

  <div class="rightDiv">
      <h1>비밀번호 확인</h1>

      <form name="frm" action="myinfoCheckPassword" data-th-action="@{checkPassword}" method='post' onsubmit="return false;">
        <table class="table_view_clear" style="width:345px;">
          <tr>
            <td>비밀번호</td>
            <td><input class="formInput" name='password' type='password'></td>
            <td><button onclick="fn_save()">확인</button></td>
          </tr>
        </table>
      </form>
  </div>
</div>
<div data-th-replace="footer :: footer">꼬리말</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script data-th-src="@{/js/header.js}"></script>
<script data-th-src="@{/js/member/myinfoCheckPassword.js}"></script>
<script>
  $(document).ready(function() {
     var pwcheck = "[[${pwcheck}]]";
     if(pwcheck == "Y"){
       alert("비밀번호가 일치하지 않습니다.");
     }
   });
</script>
</html>