<!DOCTYPE html>
<html lang="en" xmlns:data-th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/member/myPage.css">
  <link rel="stylesheet" type="text/css" href="/css/modal/loginModal.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <script th:inline="javascript">
    const session = /*[[${session.loginUser}]]*/ null;
    const sessionInfo = /*[[${session}]]*/ null;
    const nationListModel = /*[[${nationList}]]*/ null;
    console.log(sessionInfo);
    console.log(session);
  </script>
</head>
<body>
  <div data-th-replace="header :: header">header</div>
<main class="container-sm">
  <section id="myPage-leftSection" class="g-col-2 mt-5">
    <div data-th-replace="/member/myPageSideMenu :: myPageSideMenu">a</div>
  </section>
  
  <section id="myPage-rightSection" class="row col-8 mt-5">
    <div id="myPage-title-container">
      <div>

      </div>
    </div>
    <div class="col-6 col-md-4"></div>
    <div id="checkPassword-container" class="col-6 col-sm-6">
      <label for="checkPassword" class="form-label">비밀번호 확인</label>
      <div class="row">
        <div class="col-sm-7">
          <input id="checkPassword" type="password" class="form-control">
        </div>
        <div class="col-sm-3">
          <button id="checkPassword-button" class="btn btn-primary">확인</button>
        </div>
      </div>
    </div>


    <div id="myInformation-container" style="display: none;">
      <div>
        <div>
          <div class="mb-4 row">
            <div class="col-sm align-items-end">
              <label for="nameInput" class="form-label">이름</label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="nameInput" data-th-value="${session.loginUser.name}">
            </div>
          </div>
          <div class="mb-4 row">
            <div class="col-sm align-items-end">
              <label for="nicknameInput" class="form-label">닉네임</label>
            </div>
            <div class="col-sm-9">
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="nicknameInput" data-th-value="${session.loginUser.nickname}" aria-describedby="nicknameCheck">
                <button class="btn btn-secondary" id="nicknameCheck">중복확인</button>
              </div>
            </div>
          </div>
          <div class="mb-4 row">
            <div class="col-sm align-items-end">
              <label for="emailInput" class="form-label">이메일</label>
            </div>
            <div class="col-sm-9">
              <input type="email" class="form-control" id="emailInput" data-th-value="${session.loginUser.email}" disabled readonly>
            </div>
          </div>
          <div class="mb-4 row">
            <div class="col-sm align-items-end">
              <label for="birthdayInput" class="form-label">생년월일</label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="birthdayInput" data-th-value="${session.loginUser.birthday}" disabled readonly>
            </div>
          </div>
          <div class="mb-4 row">
            <div class="col-sm align-items-end">
              <label for="sexInput" class="form-label">성별</label>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="male" value="M">
                    <label class="form-check-label" for="male">남자</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="female" value="W">
                    <label class="form-check-label" for="female">여자</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" id="none" value="none">
                    <label class="form-check-label" for="none">선택안함</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="mb-4 row">
            <div class="col-sm align-items-end">
              <label for="telInput" class="form-label">전화번호</label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="telInput" data-th-value="${session.loginUser.telNo}">
            </div>
          </div>
          <div class="mb-4 row">
            <div class="col-sm align-items-end">
              <label for="nationInput" class="form-label">국적</label>
            </div>
            <div class="col-sm-9">
              <select class="form-select form-select-sm" aria-label="Small select example">
                <option id="nationSelectedBox" selected></option>
                <option data-th-each="nation : ${nationList}" data-th-value="${nation.nationNo}" data-th-text="${nation.nationName}"></option>
              </select>
            </div>
          </div>
          <div class="mb-4 row">
            <div class="col-sm align-items-end">
              <label for="addressInput" class="form-label">주소</label>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="addressInput" data-th-value="${session.loginUser.address}">
            </div>
          </div>
          <div class="mb-4 row">
            <div class="col-sm align-items-end">
              <label for="themeInput" class="form-label">선호사항</label>
            </div>
            <div class="col-sm-9">
              <button class="btn btn-primary" id="userPreference-button">편집</button>
            </div>
          </div>
          <div class="mb-4 row">
            <div class="col-sm align-items-end">
              <label for="photoInput" class="form-label">사진</label>
            </div>
            <div class="col-sm-9">
              <div id="userPhoto-container" class="col-sm-3">
                <img id="userPhoto" data-th-if="${session.loginUser.photo == null}" data-th-src="@{/img/default-photo.jpeg}" class="img-thumbnail">
                <img id="userPhoto" data-th-if="${session.loginUser.photo != null}" 
                    data-th-src="@{'https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/member/' + ${session.loginUser.photo}+'?type=f&w=200&h=200'}" 
                    class="img-thumbnail rounded float-start">
              </div>
              <div class="col-sm-3 mt-3" id="userPhoto-changeButton-container">
                <button class="btn btn-primary" data-bs-toggle="collapse" href="#changePhoto-collapse" aria-expanded="false" aria-controls="changePhoto-collapse" id="changePhoto-open-button">변경</button>
                <div id="changePhoto-collapse" class="collapse input-group">
                    <input type="file" class="form-control" id="inputUserPhoto">
                </div>
              </div>
            </div>
          </div>
          <div class="mb-4 row">
            <div class="col-sm align-items-end">
              <label for="passwordInput" class="form-label">비밀번호</label>
            </div>
            <div class="col-sm-9">
              <button class="btn btn-primary" data-bs-toggle="collapse" href="#changePassword-collapse" aria-expanded="false" aria-controls="changePassword-collapse" id="changePassword-open-button">변경</button>
              <div id="changePassword-collapse" class="collapse">
                <div class="col-5 row">
                  <div>
                    <label for="changePassword-passwordInput" class="form-label">변경할 비밀번호</label>
                    <input id="changePassword-passwordInput" class="form-control" type="password">
                  </div>
                  <div>
                    <label for="changePassword-passwordCheck" class="form-label">비밀번호 확인</label>
                    <input id="changePassword-passwordCheck" class="form-control" type="password">
                  </div>
                </div>
                <div>
                  <button class="btn btn-primary" id="passwordChange-button">변경</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-auto">
              <button class="btn btn-primary" id="myPage-UserInfo-Update">저장</button>
            </div>
            <div class="col-auto">
              <button class="btn btn-danger" id="memberWithdrawal-button">회원 탈퇴</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- 선호사항 편집 Modal -->
    <div class="modal fade" id="userPreferenceModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="userPreferenceModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="suserPreferenceModalLabel">선호사항 편집</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row row-cols-3">
              <div class="col p3" data-th-each="theme : ${session.themeList}">
                <p class="d-inline-flex gap-1">
                  <a class="btn" role="button" data-toggle="button" data-th-id="${'themeNo'+theme.themeNo}" data-th-value="${theme.themeNo}">
                    <img data-th-src="@{'https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/theme/' + ${theme.themeName} + .png(type=f,w=24,h=24,faceopt=false,ttype=png)}" alt="테마 이미지">
                    <span data-th-text="${theme.themeName}"></span>
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="save-user-preference" data-bs-dismiss="modal">저장</button>
            <button type="button" class="btn btn-secondary" id="cancle-user-preference" data-bs-dismiss="modal">취소</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
  <div data-th-replace="footer :: footer" class="footer-div">footer</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script data-th-src="@{/js/header.js}"></script>
<script data-th-src="@{/js/member/myPage.js}"></script>
<script data-th-src="@{/common/alarm.js}" src="common/alarm.js" type="module"></script>


</html>