<!DOCTYPE html>
<html lang='en'>
<head>
  <style>
    .left-li{
      list-style-type:none;
      width: 110px;
      background-color: #b9b9b9;
      text-align: center;
      margin-top: 10px;
      padding: 10px 5px 10px 5px;
    }
    li a {
      text-decoration-line: none;
      color: #fff;
    }
  </style>
  <meta charset='UTF-8'>
  <title>사라바</title>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script><!--중복체크 메시지를 위해 필요함>-->
  <script>
    $(document).ready(function() {
        $("input[type='checkbox']").on("click", function(){
            let count=$("input:checked[type='checkbox']").length;

              if(count > 3){
              this.checked=false;
                alert("항목을 3개까지만 선택할 수 있습니다.");
              }
        });
    });
  </script>
</head>
<body>


<div data-th-replace="header :: header">머리말</div>

<table style="width:100%;height:540px;">
  <tr>
    <td style="width:200px;border: 1px solid #000;background-color: #f5f1f1;vertical-align:top;">
      <ul>
        <li class="left-li"><a data-th-href="@{/member/chkPw}" data-th-if="${session.loginUser != null}" href="member/chkPw" style="color:#000;"><b>내정보 관리</b></a></li>
        <li class="left-li"><a data-th-href="@{/bookmark/bookmark}" data-th-if="${session.loginUser != null}" href="bookmark/bookmark">즐겨찾기</a></li>
        <li class="left-li"><a data-th-href="@{/reservation/reservationList}" data-th-if="${session.loginUser != null}" href="reservation/reservationList">예약 내역</a></li>
        <li class="left-li"><a data-th-href="@{/board/boardHistory}" data-th-if="${session.loginUser != null}" href="board/boardHistory">작성글 내역</a></li>
        <li class="left-li"><a data-th-href="@{/pointHistory/pointList}" data-th-if="${session.loginUser != null}" href="pointHistory/pointList">포인트 내역</a></li>
        <li class="left-li"><a data-th-href="@{/question/questionList}" data-th-if="${session.loginUser != null}" href="question/questionList">고객센터</a></li>
      </ul>
    </td>
    <td style="vertical-align:top;">
      <div style="padding-left: 15px;overflow: auto;width: 98%;height: 533px;">
        <h2>선호 사항</h2>
        <div align="center">

          <form action="themeForm" data-th-action="@{themeSave}"  method='post'>
            <br>
            <br>
            <br>
            <h2>숙소 타입</h2>
            <div>
              <table border="1">
                <thead>
                <th>유형</th>
                <th>선택</th>
                </thead>
                <tbody>
                <tr data-th-if="${theme.themeNo < 10}" data-th-each="theme : ${themeList}"
                    data-th-object="${theme}">
                  <td data-th-text="*{themeName}"></td>
                  <td>
                    <input type="checkbox" name="myThemes" data-th-value="*{themeNo}" data-th-if="${theme.myThemeYn == 'Y'}" checked/>
                    <input type="checkbox" name="myThemes" data-th-value="*{themeNo}" data-th-if="${theme.myThemeYn == 'N'}"/>
                  </td>
              </tr>
              </tbody>
            </table>
            </div>
            <br>
            <br>
            <br>
            <h2>숙소 테마</h2>
            <p data-th-if="${theme.themeNo >= 10}"
               data-th-each="theme : ${themeList}" data-th-object="${theme}">
              <a data-th-text="*{themeName}"></a>
              <input type="checkbox" name="myThemes" data-th-value="*{themeNo}" data-th-if="${theme.myThemeYn == 'Y'}" checked/>
              <input type="checkbox" name="myThemes" data-th-value="*{themeNo}" data-th-if="${theme.myThemeYn == 'N'}"/>

            </p>
            <br>
            <br>
            <br>
            <div>
              <button>저장</button>
            </div>
            </form>
          </div>
      </div>
    </td>
  </tr>
</table>

<div data-th-replace="footer :: footer">꼬리말</div>



</body>
</html>