

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.userInfo-section-r {
  height: 100vh;
  width: 60vh;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}

.info {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

#payment-info {
  height: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

#payment-info div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:stretch;
}

.rentalHomeInfo-container {
  position: fixed;
  right: 3%;
  top: 25%;
  
}



.hr {
  height: 2px;
  width: 100%;
  background-color: gainsboro;
  
}

.sub-title {
  font-size: large;
  font-weight: 600;
}

.refund-policy {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#refund-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#button-container {
  display: flex;
  margin-top: 100px;
}

#kakaopay {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border-style: none;
  margin-left: 20px;
}

#kakaopay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#paymentButton {
  width: 200px;
  height: 50px;
  border-style: none;
  font-size: 15px;
  background-color: #718de0;
  color: white;
  border-radius: 5px;
  
}

.rentalHomeInfo-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  border: 2px solid gainsboro;
  padding: 20px;
  border-radius: 20px;
}

.rentalHomeInfo-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.rentalHomeInfo-box div {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

#rentalHome-photo{
  width: 40%;
  margin-right: 10px;
}

#rentalHome-photo img {
  width: 100%;
  border-radius: 10px;
}

#rentalHome-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#map{
  display: block;
  width: 100%;
  height: 200px;
}

#rentalHome-name span {
  font-size: 16px;
  font-weight: 700;
}

#rentalHome-address span {
  font-size: 13px;
}
