<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salaba 관리자 시스템</title>
</head>
<body>
<header data-th-fragment="header">
    <h2>Salaba 관리자 시스템</h2>


    <p>신고관리</p>
    <ul>
        <li><a data-th-href="@{list(menu=1)}" href="list">숙소 신고 내역</a></li>
        <li><a data-th-href="@{list(menu=2)}" href="list">게시글 신고 내역</a></li>
        <li><a data-th-href="@{list(menu=3)}" href="list">댓글 신고 내역</a></li>
    </ul>


    <p>문의 관리</p>
    <ul>
        <li><a href="#">1:1 문의 내역</a></li>
    </ul>


    <p>회원 관리</p>
    <ul>
        <li><a href="#">일반회원 목록</a></li>
        <li><a href="#">호스트 목록</a></li>
        <li><a href="#">호스트 등록 심사</a></li>
    </ul>

</header>
</body>
</html>