<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    #list {
      cursor: pointer;
      text-align: center;
      border: 2px solid #35C5B3; /* 테두리 색상 */
      margin-bottom: 100px;
    }

  </style>
</head>
<body>
<div data-th-replace="host/hostHeader :: hostHeader">머리말</div>
<div class="container">
  <div>
    <div data-th-each="reservation : ${list}" data-th-object="${reservation}">
      <a id="list"
         data-th-text="*{memberName} + '님과의 대화'"
         data-th-data-no="*{reservationNo}"
         data-th-href="@{/chat(sender=2, reservationNo=*{reservationNo}, name=${session.loginUser.name}, memberNo=${session.loginUser.no})}">
        *{memberName}님과의 대화
      </a>
    </div>
  </div>
</div>
<div data-th-replace="footer :: footer">꼬리말</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script data-th-inline="javascript">


</script>
</body>
</html>