<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>호스트 숙소등록 시작</title>
</head>
<body>

<style>
  .left-box {
    float: left;
    width: 50%;
  }
  .right-box {
    float: right;
    width: 50%;
  }
  body {
    padding-left: 100px;
    padding-right: 100px;
  }
</style>


<div class="left-box">
  <h1>
    간단하게 <br>
    살라바 <br>
    호스팅을 시작할 수 <br>
    있습니다.
  </h1>

  <br>

  <p><button type="button" onclick="location.href='rentalHomeForm.html'">시작하기</button></p>
</div>

<div class="right-box">
  <p>
    1. 숙소정보를 알려주세요
    <img src="../../static/img/homeRegister1.png" height="120" width="120" align="right">
  </p>

  <br>
  <br>
  <br>
  <br>

  <p>
    2. 숙소를 돋보이게 하세요
    <img src="../../static/img/homeRegister2.png" height="120" width="120" align="right">
  </p>

  <br>
  <br>
  <br>
  <br>

  <p>
    3. 등록을 완료하세요
    <img src="../../static/img/homeRegister3.png" height="120" width="120" align="right">
  </p>
</div>







</body>
</html>