<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>호스트모드 헤더</title>

</head>
<body>
<header data-th-fragment="hostHeader" class="header-container">
  <div class="left-box">
    <img src="../../static/img/homeRegister1.png">
  </div>
  <div class="right-box">
    <a data-th-href="@{/hostReservation/list(memberNo=1)}" href="list">예약관리</a>
    <a data-th-href="@{/}" href="hostHome/list">숙소관리</a>
    <a data-th-href="@{/}" href="hostChat/list">채팅</a>
    <a data-th-href="@{/}" href="Income/list">정산</a>
    <button type="button" onclick="location.href='home'">돌아가기</button>
  </div>
</header>
</body>
</html>