<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>호스트 숙소등록 시작</title>
  <link rel="stylesheet" type="text/css" href="/css/host/hostStart.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<script th:inline="javascript">
  const sessionInfo = /*[[${session}]]*/ null;
</script>
<body>
<div class="left-background">
  <div class="left-container">
    <span id="text"></span><span class="blink">|</span>
    <br>
    <button id="validator">시작하기</button>
  </div>

</div>

<div class="right-background">
  <div class="right-container">
    <div class="step">
      <span class="step-text">1. 숙소정보를 알려주세요</span>
      <img class="step-image"
           src="https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/icon/homeRegister1.png?type=f&w=150&h=150&ttype=jpg" alt="숙소정보">
    </div>

    <div class="step">
      <span class="step-text">2. 숙소를 돋보이게 하세요</span>
      <img class="step-image"
           src="https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/icon/homeRegister2.png?type=f&w=150&h=150&ttype=jpg" alt="숙소사진">
    </div>

    <div class="step">
      <span class="step-text">3. 등록을 완료하세요</span>
      <img class="step-image"
            src="https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/icon/homeRegister3.png?type=f&w=150&h=150&ttype=jpg" alt="등록완료">
    </div>
  </div>
</div>

</body>
<script data-th-inline="javascript">
  const loginUser = [[${session.loginUser}]];
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script data-th-src="@{/js/host/hostStart.js}"></script>
<script data-th-src="@{/common/alarm.js}" src="common/alarm.js" type="module"></script>

</html>
