<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>호스트모드 헤더</title>
  <style>
    .parent-box {
        display: flex;
        width: 90%;
        justify-content: space-between; /* 요소들을 좌우로 최대한 분산 정렬 */
    }

    .left-box, .center-box, .right-box {
        flex: 1;
        margin: 10px;
    }

    .center-box {
        display: flex;
        justify-content: space-around; /* 가운데 정렬되도록 수정 */
    }

    .right-box {
        flex: 1;
        text-align: right;
        margin: 10px;
    }
  </style>
</head>
<body>
<header data-th-fragment="hostHeader" class="header-container">
  <div class="parent-box">
    <div class="left-box">
      <img src="https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/logo/newLogo2.png?type=w_sh&w=150&quality=100&sharp_amt=1.0&ttype=png">
    </div>
    </div>
    <div class="center-box">
      <a data-th-href="@{reservationList(hostNo=${session.loginUser.no})}" href="list">예약관리</a>
      <a data-th-href="@{rentalHomeList(hostNo=${session.loginUser.no})}" href="hostHome/list">숙소관리</a>
      <a data-th-href="@{chatList(hostNo=${session.loginUser.no})}" href="hostChat/list">채팅</a>
      <a data-th-href="@{incomeList(hostNo=${session.loginUser.no})}" href="Income/list">정산</a>
    </div>
    <div class="right-box">
      <button type="button" onclick="window.location.href='/home'">게스트로 돌아가기</button>
    </div>
    </div>
</header>
</body>
</html>