<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/host/incomeList.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<script th:inline="javascript">
  const sessionInfo = /*[[${session}]]*/ null;
</script>
<body>
<div data-th-replace="host/hostHeader :: hostHeader">머리말</div>
<br>

<div class="container-sm">
  <div id="bar-container">
    <div id="income-container">
      전체 수입: <span id="totalIncome">0</span>
    </div>

    <div id="search-container">
      <input id='startDate' data-th-value="${showStartDate}" type='date'/>
      <span id="~">~</span>
      <input id='endDate' data-th-value="${showEndDate}" type='date'/>
      <a id="searchButton">조회</a>
    </div>
  </div>

  <div id="main-container">
    <div data-th-each="rentalHome : ${rentalHomeList}" data-th-object="${rentalHome}"
         class="rentalHome-container"
         data-th-data-price="*{price}" data-price="10000"
         data-th-data-no="*{rentalHomeNo}" data-no="1"
         data-th-data-cleanFee="*{cleanFee}" data-cleanFee="2000"
         data-bs-toggle="modal" data-bs-target="#detailModal">
      <img class="thumbnails"
           data-th-src="@{'https://5ns6sjke2756.edge.naverncp.com/nBMc0TCJiv/rentalHome/' + ${rentalHome.rentalHomePhotos[0].uuidPhotoName}(type=f,w=80,h=80,ttype=jpg)}"
           src="/photo1.jpg">
      <span class="span-content" data-th-text="*{name}">xxx</span>
      <span class="span-content" data-th-text="*{registeDate}">2024-01-01</span>
      <span class="span-content address" data-th-text="*{address}">서울시 강남구...</span>
      <span class="span-content" data-th-id="'usageCount_' + *{rentalHomeNo}">0</span>
    </div>
  </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="detailModalLabel">상세 정보</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="detailContainer"></div>
        <div id="totalSumSection">
          <h3>합산 금액</h3>
          <p id="totalSumAmount"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div data-th-replace="footer :: footer">꼬리말</div>



</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script data-th-inline="javascript">
  let reservationList = [[${reservationList}]];
</script>
<script data-th-src="@{/js/host/incomeList.js}"></script>
<script data-th-src="@{/js/host/hostHeader.js}"></script>
<script data-th-src="@{/common/alarm.js}" src="common/alarm.js" type="module"></script>

</html>