<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>숙소 기본 입력 폼</title>
</head>
<body>


<div data-th-replace="host/hostHeader :: hostHeader">머리말</div>

<div align="center">
<form action="themeForm" data-th-action="@{rentalHomeSave}" enctype="multipart/form-data" method='post'>
  <br>

  <h2>숙소 기본 정보</h2>
  <div>
    숙소명 <input type="text" name="name">
  </div>
  <div>
    숙소 설명 <textarea name="explanation"></textarea>
  </div>
  <div>
    숙소 이용규칙 <textarea name="rentalHomeRule"></textarea>
  </div>

  <br>
  <br>
  <br>

  <h2>숙소 위치</h2>
  <div>
    지도 API 들어감
  </div>
  <div>
    임시 지역 값: <input type="text" name="region_no" value="2">
  </div>
  <div>
    임시 주소 값: <input type="text" name="address" value="대한민국 제주도 제주 중앙로 304">
  </div>
  <div>
    임시 위도 값: <input type="text" name="lat" value="33.493496809557">
  </div>
  <div>
    임시 경도 값: <input type="text" name="lon" value="126.534302173485">
  </div>
  <br>
  <br>
  <br>

  <h2>숙소 사진</h2>

  <div>
    <input multiple name="photos" type='file'><br/>

    <textarea readonly>파일 리스트 + 각 사진에 대한 설명 추가</textarea>
  </div>

  <div>
    사진 설명 자바스크립트 사용
  </div>

  <br>
  <br>
  <br>

  <h2>요금설정</h2>
  <script>
    function calc() {
      const price = Number(document.getElementById("price").value);
      const cleanFee = Number(document.getElementById("cleanFee").value)
      document.getElementById("income").value = Math.round((price + cleanFee) * 0.97)
    }
  </script>
    <div>
    이용요금(주 기준)  <input type="text" name="price" id="price" onkeyup="calc(this.value)">
    </div>
    <div>
    청소비  <input type="text" name="cleanFee" id="cleanFee" onkeyup="calc(this.value)">
    </div>
    <div>
    정산금액 <input type="text" id="income">
    </div>


  <br>
  <br>
  <br>

  <h2>호스팅 기간</h2>
  <div>
    호스팅 시작일: <input name='hostingStartDate' type='date'>
  </div>
  <div>
    호스팅 종료일: <input name='hostingEndDate' type='date'>
  </div>

  <h2>본인 인증</h2>
  <div>
    휴대폰인증
  </div>

  <br>
  <br>
  <br>

  <div>
    <button type="submit">다음</button>
  </div>

  <br>
  <br>

</form>
</div>

<div data-th-replace="footer :: footer">꼬리말</div>



</body>
</html>