<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>숙소 관리 내역</title>
</head>

<body>

<div data-th-replace="host/hostHeader :: hostHeader">머리말</div>

<div align="center">
  <table border="1">
    <thead>
      <tr>
        <th>숙소명</th>
        <th>수용 인원</th>
        <th>주소</th>
        <th>가격</th>
        <th>상태</th>
        <th>호스팅 시작일</th>
      </tr>
    </thead>
    <tbody>
      <tr data-th-each="rentalHome : ${list}" data-th-object="${rentalHome}">
        <td data-th-href="@{rentalHomeEdit}" data-th-text="*{name}">라마다 호텔</td>
        <td data-th-text="*{capacity}">2</td>
        <td data-th-text="*{address}">제주 서귀포시 ...</td>
        <td data-th-text="*{price} + '/주'">100000/주</td>
        <td data-th-text="*{state}">0</td>
        <td data-th-text="${#dates.format(rentalHome.hostingStartDate,'yyyy-MM-dd')}">2024-04-06</td>
      </tr>
    </tbody>
  </table>
</div>

<br>
<br>
<br>

<div align="center">
  <a data-th-href="@{hostStart}">새 숙소</a>
</div>

<div class="footer" data-th-replace="footer :: footer">꼬리말</div>

</body>
</html>