<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>숙소 정보 수정</title>
</head>

<body>



<br>
<div data-th-replace="host/hostHeader :: hostHeader">머리말</div>


<div align="center">
  <br>

  <h2>숙소 기본 정보</h2>
  <div>
    숙소명:  <span data-th-text="${session.rentalHome.name}"></span>
  </div>
  <br>

  <div>
    숙소 설명:
    <p data-th-text="${session.rentalHome.explanation}"></p>
  </div>
  <div>
    숙소 이용규칙:
    <p data-th-text="${session.rentalHome.rentalHomeRule}"></p>
  </div>


  <br>
  <br>
  <br>

  <h2>숙소 위치</h2>
  <div>
      지도 API 들어감
  </div>
  <br>
  <div>
      임시 지역 값: <span>2</span>
  </div>
  <br>
  <div>
    임시 주소 값: <span>대한민국 제주도 제주 중앙로 304</span>
  </div>
  <br>
  <br>
  <br>

  <h2>숙소 사진</h2>

  <div>
    <ul data-th-each="photo : ${session.rentalHome.rentalHomePhotos}" data-th-object="${photo}">
      <a data-th-href="*{uuidPhotoName}" href="photo.html" data-th-text="*{oriPhotoName}">a.png</a>
    </ul>
  </div>

  <br>
  <br>
  <br>

  <h2>요금설정</h2>
  <div>
    이용요금(주 기준)  <input readonly type="text" data-th-value="${session.rentalHome.price}"
                         value="price" id="price" onkeyup="calc(this.value)">
  </div>
  <div>
    청소비  <input readonly type="text" data-th-value="${session.rentalHome.cleanFee}"
                value="cleanFee" id="cleanFee" onkeyup="calc(this.value)">
  </div>


  <br>
  <br>
  <br>

  <h2>호스팅 기간</h2>
  <div>
    호스팅 시작일: <input readonly data-th-value='${session.rentalHome.hostingStartDate}' type='date'>
  </div>
  <div>
    호스팅 종료일: <input readonly data-th-value='${session.rentalHome.hostingEndDate}' type='date'>
  </div>

  <h2>본인 인증</h2>
  <div>
    휴대폰인증
  </div>

  <br>
  <br>
  <br>


  <br>


  <h2>숙소 타입</h2>
  <div>
    <table border="1">
      <thead>
        <th>유형</th>
      </thead>
      <tbody>
        <tr data-th-if="${theme.themeNo < 10}"
          data-th-each="theme : ${session.rentalHome.rentalHomeThemes}">
          <td data-th-text="${theme.themeName}">모텔</td>
        </tr>
      </tbody>
      </table>
  </div>

  <br>
  <br>
  <br>

  <h2>숙소 테마</h2>
  <p data-th-if="${theme.themeNo >= 10}"
     data-th-each="theme : ${session.rentalHome.rentalHomeThemes}" data-th-object="${theme}">
    <a data-th-text="*{themeName}">aaa</a>
  </p>


  <br>


  <h2>숙소 시설</h2>
  <div>
    수용인원 <input readonly type="number" name="capacity" data-th-value="${session.rentalHome.capacity}">
  </div>
  <h2>숙소 테마</h2>
  <p data-th-if="${facility.facilityNo < 4}"
     data-th-each="facility : ${session.rentalHome.rentalHomeFacilities}" data-th-object="${facility}">
    <a data-th-text="*{facilityName}">aaa</a>
  </p>

  <br>
  <br>
  <br>

  <h2>숙소 편의시설</h2>
  <p data-th-if="${facility.facilityNo >= 10}"
     data-th-each="facility : ${session.rentalHome.rentalHomeFacilities}" data-th-object="${facility}">
    <a data-th-text="*{facilityName}">aaa</a>
  </p>
</div>

<br>
<br>
<br>

<div align="center">
  <a type="button" data-th-href="@{rentalHomeAdd}">등록</a>
</div>
<br>
<div class="footer" data-th-replace="footer :: footer">꼬리말</div>


</body>
</html>