<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>숙소 기본 입력 폼</title>

  <style>
    body {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .parent {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .box {
        width: 30%;
    }

    .header {
        width: 100%;
        padding: 10px;
        background-color: lightgray;
        text-align: center;
    }

    .footer {
        width: 100%;
        padding: 10px;
        background-color: lightgray;
        text-align: center;
    }

  </style>
</head>
<body>



<br>
<div class="header" data-th-replace="host/hostHeader :: hostHeader">머리말</div>
<div class="parent">

  <div class="box">
    <br>

    <h2>숙소 기본 정보</h2>
    <div>
      숙소명 <input readonly type="text" name="name">
    </div>
    <div>
      숙소 설명 <textarea readonly type="text" name="explanation"></textarea>
    </div>
    <div>
      숙소 이용규칙 <textarea readonly name="rentalHomeRule"></textarea>
    </div>

    <br>
    <br>
    <br>

    <h2>숙소 위치</h2>
    <div>
      지도 API 들어감
    </div>
    <div>
      임시 지역 값: <input readonly type="text" name="region_no" value="2">
    </div>
    <div>
      임시 주소 값: <input readonly type="text" name="address" value="대한민국 제주도 제주 중앙로 304">
    </div>
    <div>
      임시 위도 값: <input readonly type="text" name="lat" value="33.493496809557">
    </div>
    <div>
      임시 경도 값: <input readonly type="text" name="lon" value="126.534302173485">
    </div>
    <br>
    <br>
    <br>

    <h2>숙소 사진</h2>

    <div>
      <input readonly multiple name="photos" type='file'><br/>

      <textarea readonly>파일 리스트 + 각 사진에 대한 설명 추가</textarea>
    </div>

    <div>
      사진 설명 자바스크립트 사용
    </div>

    <br>
    <br>
    <br>

    <h2>요금설정</h2>
    <script>
      function calc() {
        const price = Number(document.getElementById("price").value);
        const cleanFee = Number(document.getElementById("cleanFee").value)
        document.getElementById("income").value = Math.round((price + cleanFee) * 0.97)
      }
    </script>
      <div>
      이용요금(주 기준)  <input readonly type="text" name="price" id="price" onkeyup="calc(this.value)">
      </div>
      <div>
      청소비  <input readonly type="text" name="cleanFee" id="cleanFee" onkeyup="calc(this.value)">
      </div>
      <div>
      정산금액 <input readonly type="text" id="income">
      </div>


    <br>
    <br>
    <br>

    <h2>호스팅 기간</h2>
    <div>
      호스팅 시작일: <input readonly name='hostingStartDate' type='date'>
    </div>
    <div>
      호스팅 종료일: <input readonly name='hostingEndDate' type='date'>
    </div>

    <h2>본인 인증</h2>
    <div>
      휴대폰인증
    </div>

    <br>
    <br>
    <br>


    <br>
    <br>

  </div>

  <br>

  <div class="box">
    <h2>숙소 타입</h2>
    <div>
      <table border="1">
        <thead>
        <th>유형</th>
        <th>선택</th>
        </thead>
        <tbody>
        <tr data-th-if="${rentalHomeTheme.themeNo < 10}"
            data-th-each="rentalHomeTheme : ${themeList}" data-th-object="${rentalHomeTheme}">
          <td data-th-text="*{themeName}">모텔</td>
          <td><input type="radio" name="theme" data-th-value="*{themeNo}"></td>
        </tr>
        </tbody>
      </table>
    </div>



    <br>
    <br>
    <br>

    <h2>숙소 테마</h2>
    <p data-th-if="${rentalHomeTheme.themeNo >= 10}"
       data-th-each="rentalHomeTheme : ${themeList}" data-th-object="${rentalHomeTheme}">
      <a data-th-text="*{themeName}"></a>
      <input type="checkbox" data-th-value="*{themeNo}">
    </p>
  </div>

  <br>

  <div class="box">
    <h2>숙소 시설</h2>
    <div>
      수용인원 <input type="number" name="capacity" value="0">
    </div>
    <div>
      침실 <input type="number" name="bedRoom" value="0">
    </div>
    <div>
      침대 <input type="number" name="bed" value="0">
    </div>
    <div>
      욕실 <input type="number" name="bathRoom" value="0">
    </div>

    <br>
    <br>
    <br>

    <h2>숙소 편의시설</h2>
    <p data-th-each="rentalHomeFacility : ${facilityList}" data-th-object="${rentalHomeFacility}">
      <a data-th-text="*{facilityName}"></a>
      <input type="checkbox" data-th-value="*{FacilityNo}">
    </p>
</div>

</div>
<br>
<div class="footer" data-th-replace="footer :: footer">꼬리말</div>


</body>
</html>