<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>숙소 테마 입력 폼</title>
  <style>
    button[type="button"],
    button[type="submit"] {
      background-color: #35C5B3;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button[type="button"]:hover,
    button[type="submit"]:hover {
      background-color: #1C9189;
    }
  </style>
</head>
<body>


<div data-th-replace="host/hostHeader :: hostHeader">머리말</div>

<div align="center">

<form action="themeForm" data-th-action="@{themeSave}"  method='post'>
  <br>
  <br>
  <br>

  <h2>숙소 타입</h2>
  <div>
    <table border="1">
      <thead>
      <th>유형</th>
      <th>선택</th>
      </thead>
      <tbody>
      <tr data-th-if="${theme.themeNo < 10}" data-th-each="theme : ${themeList}"
          data-th-object="${theme}">
        <td data-th-text="*{themeName}">모텔</td>
        <td>
          <input id="type" type="radio" name="type" data-th-value="${theme.themeNo} + ',' + ${theme.themeName}">
        </td>
        </td>
      </tr>
      </tbody>
    </table>
  </div>



  <br>
  <br>
  <br>

  <h2>숙소 테마</h2>
  <p data-th-if="${theme.themeNo >= 10}"
       data-th-each="theme : ${themeList}" data-th-object="${theme}">
    <a data-th-text="*{themeName}"></a>
    <input class="theme" type="checkbox" name="themeNos" data-th-value="*{themeNo}"/>
    <input type="hidden" name="themeNames" data-th-value="*{themeName}"/>
  </p>
  <br>
  <br>

  <div>
    <button type="button" onclick="window.history.back()">이전</button>
    <button type="submit" id="next-button">다음</button>
  </div>
  <br>
  <br>
  <br>



</form>
</div>

<div data-th-replace="footer :: footer">꼬리말</div>

<script>
  function checkRequiredFields() {
    let radioChecked = document.querySelector('input[type="radio"]:checked');
    let checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');

    const nextButton = document.getElementById('next-button');

    if (radioChecked && checkboxes.length > 0) {
      nextButton.disabled = false;
      nextButton.style.backgroundColor = '#35C5B3';
    } else {
      nextButton.disabled = true;
      nextButton.style.backgroundColor = '#CCCCCC';
    }
  }

  // 페이지 로드 시, 입력 필드가 변경될 때마다 확인
  window.onload = function() {
    // 입력 필드가 변경될 때마다 확인
    document.querySelectorAll('input[type="radio"]').forEach(element => {
      element.addEventListener('change', checkRequiredFields);
    });

    document.querySelectorAll('input[type="checkbox"]').forEach(element => {
      element.addEventListener('change', checkRequiredFields);
    });

    checkRequiredFields();
  };
</script>

</body>
</html>